In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
sns.set()

In [2]:
user_ratings=pd.read_csv('user_ratings2.csv')
movies=pd.read_csv('movies3.csv')

In [3]:
user_ratings.head()

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(user_ratings)

670

In [5]:
rows=[]
for index,row in user_ratings.iterrows():
    rows.append([index,row['userId']])
rowsnp=np.array(rows)
userid_index_mapping=pd.DataFrame(data=rowsnp,columns=['index','user_id'])

In [6]:
userid_index_mapping['index']=userid_index_mapping['index'].astype('int64',inplace=True)
userid_index_mapping['user_id']=userid_index_mapping['user_id'].astype('int64',inplace=True)

In [7]:
userid_index_mapping

     index  user_id
0        0        1
1        1        2
2        2        3
3        3        4
4        4        5
5        5        6
6        6        7
7        7        8
8        8        9
9        9       10
10      10       11
11      11       12
12      12       13
13      13       14
14      14       15
15      15       16
16      16       17
17      17       18
18      18       19
19      19       20
20      20       21
21      21       22
22      22       23
23      23       24
24      24       25
25      25       26
26      26       27
27      27       28
28      28       29
29      29       30
..     ...      ...
640    640      642
641    641      643
642    642      644
643    643      645
644    644      646
645    645      647
646    646      648
647    647      649
648    648      650
649    649      651
650    650      652
651    651      653
652    652      654
653    653      655
654    654      656
655    655      657
656    656      658
657    657      659
658    658      660
659    659      661
660    660      662
661    661      663
662    662      664
663    663      665
664    664      666
665    665      667
666    666      668
667    667      669
668    668      670
669    669      671

[670 rows x 2 columns]

In [8]:
user_ratings_uid=user_ratings.set_index('userId')

In [9]:
movies_ids=[int(i) for i in user_ratings_uid.columns]
rows=[]
for i in range(len(movies_ids)):
    rows.append([i,movies_ids[i]])
movieid_index_mapping=pd.DataFrame(data=rows,columns=['index','movieId'])

In [10]:
movieid_index_mapping

     index  movieId
0        0        5
1        1       11
2        2       12
3        3       13
4        4       14
5        5       16
6        6       18
7        7       19
8        8       20
9        9       22
10      10       24
11      11       25
12      12       28
13      13       35
14      14       38
15      15       55
16      16       58
17      17       59
18      18       62
19      19       65
20      20       66
21      21       68
22      22       69
23      23       70
24      24       71
25      25       73
26      26       74
27      27       76
28      28       77
29      29       78
..     ...      ...
827    827    26843
828    828    27022
829    829    27322
830    830    27329
831    831    30867
832    832    32395
833    833    32456
834    834    39183
835    835    44555
836    836    48231
837    837    49013
838    838    49526
839    839    49530
840    840    50601
841    841    51540
842    842    52462
843    843    53953
844    844    55721
845    845    56715
846    846    62764
847    847    64499
848    848    69640
849    849    74510
850    850    77866
851    851    89492
852    852    98369
853    853   103731
854    854   114635
855    855   115210
856    856   116977

[857 rows x 2 columns]

# Content Based Recommendation

## (1) Overview based

In [11]:
user_ratings_uid_copy=user_ratings_uid.copy()

In [12]:
movies.head()

,Unnamed: 0,budget,genres,id,overview,popularity,runtime,original_language,title
0,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [13]:
movies_copy=movies.copy()

In [14]:
overviews=movies['overview']

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer as tfidf
vectorizer=tfidf(stop_words='english',max_df=0.995,min_df=0.005)
overview_matrix=vectorizer.fit_transform(overviews)

In [16]:
overview_matrix.shape

(857, 1017)

In [17]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig=sigmoid_kernel(overview_matrix,overview_matrix)

In [18]:
sig[0]

array([0.7620068 , 0.76159416, 0.76159416, 0.761642  , 0.76160569,
       0.76161912, 0.76159416, 0.76159416, 0.76160211, 0.76159416,
       0.76161293, 0.76159416, 0.76162524, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.7616185 , 0.76160825, 0.76161655,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76160742, 0.76161204, 0.76159416,
       0.76159416, 0.76161862, 0.76163524, 0.76159416, 0.76160612,
       0.76159416, 0.76159416, 0.76162435, 0.76162151, 0.76159416,
       0.76159416, 0.76159416, 0.76160399, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76160671, 0.76162843, 0.76160286, 0.76159416, 0.76160875,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76161685, 0.76159416, 0.76159416, 0.7616156 ,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76162637, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76161679, 0.76159416,
       0.76161881, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76161823, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76163855, 0.76159416, 0.76159416, 0.76159416,
       0.76160553, 0.76162023, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.7616534 , 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76161484, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160672,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160725,
       0.76163159, 0.76160611, 0.76159416, 0.76164713, 0.76159416,
       0.76159416, 0.76159416, 0.76163501, 0.76162544, 0.76159416,
       0.76162883, 0.76162702, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76163421,
       0.76159416, 0.76165689, 0.76159416, 0.76159416, 0.76159416,
       0.76160252, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76163874, 0.76159416, 0.76162945,
       0.76160593, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76161811, 0.76159416, 0.76160624, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76160311, 0.76164203,
       0.7616102 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76163855, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76161098, 0.76159416, 0.76161682,
       0.76159416, 0.76159416, 0.76159416, 0.76160645, 0.76159416,
       0.76161283, 0.76159416, 0.76161934, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76161555, 0.76159416, 0.76159416, 0.76160792, 0.76159416,
       0.76159416, 0.76159416, 0.76160846, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76165788,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160686,
       0.76159416, 0.76160549, 0.76159416, 0.76159416, 0.76164367,
       0.76159416, 0.76159416, 0.76159416, 0.76163537, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76163015,
       0.76159416, 0.76159416, 0.76160614, 0.76161586, 0.76159416,
       0.76159416, 0.76161871, 0.76159416, 0.76159416, 0.76165114,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76167001, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76166298, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76160235, 0.76159416, 0.76161832, 0.76159416,
       0.76161263, 0.76159416, 0.76159416, 0.76159416, 0.76163444,
       0.76159416, 0.76163561, 0.76159416, 0.76162111, 0.76159416,
       0.76159416, 0.76166664, 0.76161341, 0.76159416, 0.76159416,
       0.761605  , 0.76159416, 0.76164113, 0.76160617, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76164194, 0.76159416,
       0.76159416, 0.76159416, 0.76162315, 0.76159416, 0.76159416,
       0.76159416, 0.76160839, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76161558, 0.76164016,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76162393,
       0.76162036, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.761634  , 0.76159416, 0.76159416, 0.76159416, 0.76161092,
       0.76159416, 0.76160726, 0.76159416, 0.76159416, 0.76162752,
       0.761606  , 0.76162005, 0.76159416, 0.76160333, 0.76159416,
       0.76159416, 0.76159416, 0.76166247, 0.76159416, 0.76161413,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.7616253 , 0.76159416,
       0.76160747, 0.76159416, 0.76159416, 0.76159416, 0.76161585,
       0.76162473, 0.76161325, 0.76160886, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160154,
       0.76159416, 0.76159416, 0.76159416, 0.76161408, 0.76160831,
       0.76165612, 0.76159416, 0.76162115, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76160397, 0.76163145, 0.76159416,
       0.76160494, 0.7616068 , 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76162185, 0.76169845, 0.76159416, 0.76159416,
       0.76159416, 0.7616099 , 0.76159416, 0.76159416, 0.7616287 ,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.7616219 ,
       0.76159416, 0.76163183, 0.76159416, 0.76160586, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76162801, 0.76159416,
       0.7616354 , 0.76159416, 0.7616589 , 0.76161254, 0.76163521,
       0.76159416, 0.76159416, 0.76159416, 0.76160666, 0.76159416,
       0.76161367, 0.76163865, 0.76160565, 0.76166032, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76161524,
       0.76159416, 0.76161889, 0.76159416, 0.76160178, 0.76159416,
       0.76159416, 0.76159416, 0.76162783, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76163004, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76160964, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160798,
       0.7616271 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76162631, 0.76159416, 0.76160647, 0.76159416,
       0.76163012, 0.76159416, 0.76159416, 0.76161179, 0.76162345,
       0.76159416, 0.76159416, 0.7616073 , 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160524,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.7616119 , 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76162008,
       0.76159416, 0.76159416, 0.76159416, 0.76160423, 0.76159416,
       0.76160483, 0.76160637, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76161813, 0.76159416, 0.76159416,
       0.76159416, 0.76161122, 0.76159416, 0.76159416, 0.76161304,
       0.76162736, 0.76165928, 0.76159416, 0.76159416, 0.7616207 ,
       0.76159416, 0.76160462, 0.76159416, 0.76162221, 0.76159416,
       0.76159416, 0.76159416, 0.76160428, 0.76159416, 0.76161162,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160811,
       0.76164458, 0.76161849, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.7616039 , 0.76161228, 0.76160672, 0.76159416,
       0.76160455, 0.76161844, 0.76159416, 0.76160684, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76161918, 0.76159416, 0.76159416,
       0.76159416, 0.76162111, 0.76159416, 0.76159416, 0.76162463,
       0.76164655, 0.76161621, 0.76165552, 0.76159416, 0.76159416,
       0.76159416, 0.76162256, 0.76161739, 0.76159416, 0.76160958,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.7617148 , 0.76159416,
       0.76159416, 0.76159416, 0.76162006, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76161008, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76163397, 0.76159416,
       0.76159416, 0.76159416, 0.76161938, 0.76159416, 0.76163916,
       0.76159416, 0.76159416, 0.76160613, 0.76161095, 0.76159416,
       0.76159416, 0.76162486, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76164302, 0.76159416, 0.76159416, 0.76159416,
       0.76162921, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76164419, 0.76161328,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160772,
       0.76159416, 0.76160467, 0.76159416, 0.76164683, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76160772, 0.76166246,
       0.7616046 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76163932, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76163609,
       0.76159416, 0.76159416, 0.76162586, 0.76163526, 0.76159416,
       0.76163385, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.7616014 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76164571, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76160639, 0.76159416, 0.76159416, 0.76166749, 0.7616047 ,
       0.76160201, 0.76159416, 0.76164565, 0.76159416, 0.76161665,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76160324,
       0.76163193, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76161675, 0.76159416, 0.76159416, 0.76159416,
       0.76163881, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76164387, 0.76160473, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76162659,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76160536, 0.76159416,
       0.7616081 , 0.76159416, 0.76159416, 0.76159416, 0.76160665,
       0.76159416, 0.76164635, 0.76160995, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.7616094 , 0.76159416, 0.76159416,
       0.76159416, 0.76162434, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416])

In [19]:
movies['title'].unique()

array(["Pirates of the Caribbean: At World's End", 'Spider-Man 3',
       'Harry Potter and the Half-Blood Prince',
       "Pirates of the Caribbean: Dead Man's Chest",
       'The Chronicles of Narnia: Prince Caspian',
       'Pirates of the Caribbean: On Stranger Tides',
       'The Golden Compass', 'King Kong', 'Titanic', 'Spider-Man 2',
       'Transformers: Revenge of the Fallen', 'Cars 2',
       'Terminator Salvation',
       'Indiana Jones and the Kingdom of the Crystal Skull',
       'The Dark Knight', 'Iron Man', 'Wild Wild West',
       'The Mummy: Tomb of the Dragon Emperor', 'The Polar Express',
       'Terminator 3: Rise of the Machines', "The Sorcerer's Apprentice",
       'Shrek the Third', 'Transformers', 'Alexander',
       'Harry Potter and the Goblet of Fire',
       'Charlie and the Chocolate Factory', 'Ratatouille',
       'Batman Begins', 'X-Men Origins: Wolverine',
       'The Matrix Revolutions', 'Mission: Impossible III', 'Armageddon',
       'Men in Black II', 'Beowulf', 'The Last Samurai',
       'Lethal Weapon 4', 'Hulk', 'Final Fantasy: The Spirits Within',
       'Captain America: The First Avenger', 'War of the Worlds',
       'Bad Boys II', 'Harry Potter and the Prisoner of Azkaban',
       "Harry Potter and the Philosopher's Stone",
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'Total Recall', 'The 13th Warrior', 'Batman & Robin',
       'How the Grinch Stole Christmas', 'The Day After Tomorrow',
       'Mission: Impossible II', 'The Perfect Storm',
       'Fantastic 4: Rise of the Silver Surfer', 'Ghost Rider',
       'The Chronicles of Riddick', 'Speed Racer',
       'Star Wars: Episode III - Revenge of the Sith',
       'Star Wars: Episode II - Attack of the Clones', 'Monsters, Inc.',
       'Asterix at the Olympic Games', 'Night at the Museum',
       'Tomorrow Never Dies', 'The Patriot', "Ocean's Twelve",
       'Mr. & Mrs. Smith', 'The Aviator', 'Speed 2: Cruise Control',
       'Live Free or Die Hard', 'I, Robot', 'Kingdom of Heaven',
       'The Island', 'Gladiator', 'Minority Report', 'Planet of the Apes',
       'Terminator 2: Judgment Day', 'National Treasure', 'Eragon',
       'Blood Diamond', 'Batman Forever', 'Starship Troopers', 'Catwoman',
       'The Mummy Returns', 'The Fifth Element', 'The Lovely Bones',
       'Finding Nemo', 'The Lord of the Rings: The Return of the King',
       'The Lord of the Rings: The Two Towers', 'Lara Croft: Tomb Raider',
       'Jurassic Park III', 'Cutthroat Island', 'What Lies Beneath',
       "Charlie's Angels", 'The Departed', 'Die Hard: With a Vengeance',
       'Valkyrie', 'The Interpreter',
       'Lara Croft Tomb Raider: The Cradle of Life', 'Spy Game',
       'Mission to Mars', "The Devil's Own", 'K-19: The Widowmaker',
       'Cinderella Man', 'Seabiscuit', 'Twister', 'The Bourne Supremacy',
       "Ocean's Eleven", 'Enchanted', 'The Holiday', 'Open Season',
       'Memoirs of a Geisha', 'Mirror Mirror', 'Zodiac',
       'Mission: Impossible', 'Batman Returns', 'Deep Impact',
       "Something's Gotta Give", 'Face/Off', 'Con Air', 'Cold Mountain',
       'Space Jam', 'The Time Machine', 'The Brothers Grimm',
       'Red Planet', 'A Beautiful Mind', 'Hidalgo',
       'The Lost World: Jurassic Park', 'Madagascar',
       'Ice Age: The Meltdown', '50 First Dates', 'Hairspray',
       'Inspector Gadget', 'The Terminal', "Charlie Wilson's War",
       'Dreamgirls', 'Munich', 'Spanglish', 'Hostage', 'Titan A.E.',
       'Carriers', 'The Kingdom', 'Jarhead', 'The Simpsons Movie',
       'Two Brothers', 'The Village', 'Shrek 2', 'Cars', 'Runaway Bride',
       'xXx', 'Hook', 'Die Hard 2', 'Vanilla Sky',
       'Star Trek: Insurrection', 'Big Fish', 'Doom',
       'Sky Captain and the World of Tomorrow', 'Basic Instinct 2',
       'The Sum of All Fears', 'Entrapment', 'The X Files',
       'What Women Want', 'Ice Age', 'The Matrix', 'Apollo 13',
       'World Trade Center', 'Eyes Wide Shut', 'Red Dawn', 'Fight Club',
       'Oliver Twist', 'Sin City: A Dame to Kill For',
       'Perfume: The Story of a Murderer', 'Austin Powers in Goldmember',
       'Jurassic Park', 'U-571', '300', 'The Green Mile',
       'The Bourne Identity', 'GoldenEye', "The General's Daughter",
       'Two Weeks Notice', 'Antz', 'Days of Thunder', 'The Family Man',
       'The Horse Whisperer', 'Deep Blue Sea', 'The Happening', 'Hellboy',
       'Under Siege 2: Dark Territory', 'The Sentinel',
       'Star Trek: Nemesis', 'Mercury Rising',
       'The Legend of Bagger Vance', 'Almost Famous', 'The Last Castle',
       'In the Name of the King: A Dungeon Siege Tale',
       'The Flintstones in Viva Rock Vegas', 'Rambo III', 'DragonHeart',
       "Captain Corelli's Mandolin", 'Forrest Gump',
       'Alvin and the Chipmunks', 'Meet the Parents', 'Superman',
       'American Wedding', 'Casper', 'Maid in Manhattan', 'Crimson Tide',
       'Disclosure', 'Kill Bill: Vol. 1', 'Kill Bill: Vol. 2',
       'Shanghai Noon', 'Executive Decision', 'The Forbidden Kingdom',
       'Ronin', 'Stuck on You', 'Changeling', 'A Very Long Engagement',
       'Lolita', 'The Godfather: Part III', 'You, Me and Dupree',
       "All the King's Men", 'Shaft', 'Moulin Rouge!',
       'Flags of Our Fathers', 'Lucky You', 'Catch Me If You Can',
       'Casino', 'Me, Myself & Irene', 'Shrek',
       'Robin Hood: Prince of Thieves', 'As Good as It Gets', 'Mr. Deeds',
       'Interview with the Vampire', 'Inside Man', 'Payback',
       'Failure to Launch', 'Garfield', 'Outbreak', 'Syriana',
       'Absolute Power', 'The Game', 'Silent Hill',
       'Beverly Hills Cop III', 'Gremlins 2: The New Batch',
       'Out of Time', 'The Beach', 'Hannibal Rising',
       'The Life Aquatic with Steve Zissou', 'Eastern Promises',
       'Traffic', 'Indiana Jones and the Last Crusade', 'The Tooth Fairy',
       'Three Kings', 'K-PAX', 'Bedazzled', 'The Cotton Club',
       'Out of Sight', 'The Thomas Crown Affair', 'Solaris',
       "My Best Friend's Wedding", 'Insomnia', 'Star Trek: First Contact',
       'Liar Liar', 'The Flintstones', 'Miss Congeniality',
       'Training Day', 'Galaxy Quest', 'Scary Movie 2', 'Changing Lanes',
       'Love Actually', 'The Specialist',
       "The Hitchhiker's Guide to the Galaxy", 'The River Wild', 'Dune',
       'Across the Universe', 'Revolutionary Road', '16 Blocks',
       'The Pledge', 'Love in the Time of Cholera', 'Foodfight!',
       'The Fugitive', 'Rambo: First Blood Part II',
       'Underworld: Evolution', 'Finding Forrester', 'Notting Hill',
       'Along Came Polly', 'The Mothman Prophecies', 'Licence to Kill',
       '15 Minutes', 'Hero', '8 Mile', 'The Sixth Sense',
       'The Karate Kid', 'Back to the Future Part II', 'A Time to Kill',
       'Scream 3', 'Back to the Future Part III', 'Dracula',
       'The Talented Mr. Ripley', 'Sin City', 'JFK', 'The Mexican',
       'Shall We Dance?', 'The Prestige', 'The Living Daylights',
       'Secret Window', 'The Lake House', 'Gothika',
       'Aliens vs Predator: Requiem', 'The Shadow', 'Rent',
       'The Out-of-Towners', 'Sweet November', 'The Reaping',
       'Mean Streets', 'Marie Antoinette', 'Memoirs of an Invisible Man',
       'AmÃ©lie', 'Impostor', 'Just Visiting', 'Sunshine',
       'The Hunting Party', 'Because I Said So', 'Star Trek: Generations',
       'Enough', 'The Thing', 'Magnolia', 'Twilight', 'Breakdown',
       'Reindeer Games', 'Gattaca', 'Batman', 'Lethal Weapon 3',
       'Horrible Bosses', 'The Devil Wears Prada',
       'Star Trek: The Motion Picture', 'Cape Fear',
       'The English Patient', 'L.A. Confidential',
       'A Nightmare on Elm Street', 'TMNT', 'Malcolm X', 'This Is 40',
       'License to Wed', 'Poltergeist', 'The Ladykillers', 'In Time',
       'The Pianist', 'The Nativity Story', 'Closer', 'Predator 2',
       'Flash Gordon', 'Midnight in the Garden of Good and Evil',
       'The X Files: I Want to Believe', 'Premium Rush', 'Krull',
       'Lions for Lambs', 'The Shipping News', 'Lion of the Desert',
       'Bandidas', 'The Fountain', 'Chill Factor', "The Astronaut's Wife",
       'A Few Good Men', 'Snakes on a Plane', 'Return of the Jedi',
       'Bridesmaids', 'Alive', 'The Number 23', 'A History of Violence',
       'Bogus', 'Apocalypse Now', "Mr. Holland's Opus", 'Out of Africa',
       'Moonraker', 'Get Shorty', 'American Pie 2',
       'The Hunt for Red October', 'The Addams Family',
       'The First Wives Club', 'Mystic River', 'Million Dollar Baby',
       'About Schmidt', 'Blow', 'Star Trek V: The Final Frontier',
       'A View to a Kill', 'The Curse of the Were-Rabbit', 'Atonement',
       'Black Rain', 'Corpse Bride', 'Stranger Than Fiction',
       'The Running Man', 'My Super Ex-Girlfriend', '88 Minutes',
       'The Whole Ten Yards', 'An Unfinished Life', 'The Good Thief',
       'The Promise', 'Goodbye Bafana', 'Walk the Line',
       'Keeping the Faith', 'Confessions of a Dangerous Mind',
       'Indiana Jones and the Temple of Doom', 'Along Came a Spider',
       'Once Upon a Time in Mexico', 'Die Hard', 'Taking Woodstock',
       'Dawn of the Dead', 'The Wedding Planner', 'Identity', 'Timecop',
       'No Reservations', 'Blade Runner', 'We Own the Night', 'Octopussy',
       'Knocked Up', 'Notes on a Scandal', 'Rendition',
       'Star Trek VI: The Undiscovered Country', 'About a Boy',
       'Lucky Number Slevin', 'The 51st State', 'The 40 Year Old Virgin',
       'Shakespeare in Love', 'Kindergarten Cop', 'Open Range',
       'A Bridge Too Far', 'In Good Company', 'Brothers', 'Original Sin',
       'Highlander: The Final Dimension',
       'The Curse of the Jade Scorpion', 'The Constant Gardener',
       'The Passion of the Christ', 'Mrs. Doubtfire', 'Rain Man',
       'The Bodyguard', "Schindler's List", 'Freddy vs. Jason',
       'Teenage Mutant Ninja Turtles II: The Secret of the Ooze',
       'The Untouchables', 'No Country for Old Men', 'Chocolat',
       'Romeo Must Die', 'Bridge to Terabithia', 'Finding Neverland',
       'Anchorman: The Legend of Ron Burgundy', 'GoodFellas', 'Scarface',
       'The Last Emperor', 'Contraband', 'Kiss of the Dragon',
       'The Hours', "Mr. Bean's Holiday", 'Elizabeth', 'Spice World',
       'The Shawshank Redemption', 'Don Juan DeMarco',
       'The Next Best Thing', 'Big Trouble in Little China', 'Stop-Loss',
       'Blindness', 'Star Trek IV: The Voyage Home', 'Rocky Balboa',
       'Scream 2', 'The Whole Nine Yards', 'Footloose', 'The Fisher King',
       'I Still Know What You Did Last Summer', 'Return to Me',
       'The Empire Strikes Back', 'Pitch Black', 'Jaws: The Revenge',
       'Harley Davidson and the Marlboro Man', '1408', 'Spaceballs',
       'Ghost', "There's Something About Mary",
       'The Bridges of Madison County', 'Gandhi', 'The Net', 'Underworld',
       'Derailed', 'Jay and Silent Bob Strike Back', 'The Glass House',
       'I Heart Huckabees', 'Michael Clayton', 'Arlington Road',
       'Teenage Mutant Ninja Turtles III', 'Freedom Writers',
       'The Transporter', 'eXistenZ', 'Raiders of the Lost Ark',
       'Close Encounters of the Third Kind', 'Beverly Hills Cop II',
       'The Silence of the Lambs', "Wayne's World", 'School of Rock',
       'Edward Scissorhands', 'The French Connection', 'Boogeyman',
       'The Grudge 2', "Bill & Ted's Bogus Journey", 'Babel',
       'Team America: World Police', 'Wild Things', 'High Fidelity',
       'The Bank Job', 'Eternal Sunshine of the Spotless Mind',
       'Street Kings', 'To Die For', 'Psycho', 'Ladyhawke',
       'Reign Over Me', 'Into the Wild', 'From Dusk Till Dawn',
       'The Kite Runner', '21 Grams', 'The Greatest Story Ever Told',
       'The Weather Man', 'Deconstructing Harry', "We're No Angels",
       "Everybody's Fine", 'A Dangerous Method', 'A Scanner Darkly',
       "I'm Not There.", 'Synecdoche, New York', 'Equilibrium',
       'Dances with Wolves', 'Scream', 'The Shining',
       'Back to the Future', 'Spirited Away', 'The Bounty', 'Adaptation.',
       'Fear and Loathing in Las Vegas', 'The Mask', 'Big',
       'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
       'Legally Blonde', 'Star Trek III: The Search for Spock',
       'The Exorcism of Emily Rose',
       'Austin Powers: International Man of Mystery', 'Amadeus',
       'Prom Night', 'Gosford Park', 'The Tailor of Panama',
       'Dragonslayer', 'Ed Wood', 'Superbad', 'Hotel Rwanda', 'Hitman',
       'The Others', 'Aliens', 'Halloween', '40 Days and 40 Nights',
       'Roar', 'Southland Tales', 'Damnation Alley',
       'Sense and Sensibility', 'Becoming Jane', 'Dead Poets Society',
       'When Harry Met Sally...', "Pan's Labyrinth", 'Hot Fuzz',
       'Vicky Cristina Barcelona', 'The Thirteenth Floor', 'Highlander',
       'Things We Lost in the Fire', 'Steel', 'Wasabi',
       'Crouching Tiger, Hidden Dragon', 'American Beauty', 'The Queen',
       'Beetlejuice', 'Wag the Dog', 'Cop Land', 'Lawrence of Arabia',
       'The Wedding Date', 'The Princess Bride', '28 Weeks Later',
       'Match Point', 'The Remains of the Day', 'Boogie Nights', 'Brazil',
       'Dark Blue', 'A Mighty Heart', 'Jakob the Liar',
       'Kiss Kiss Bang Bang', 'Idle Hands', 'Mulholland Drive',
       'Metropolis', 'Groundhog Day', 'Romeo + Juliet', 'Manderlay',
       'Pretty Woman', 'Cool Runnings', 'Stomp the Yard',
       'The Spy Who Loved Me', 'The Diving Bell and the Butterfly',
       'Little Children', 'Catch a Fire', 'Downfall', 'The Sea Inside',
       'Good Morning, Vietnam', 'The Godfather: Part II',
       'Dude, Whereâ€™s My Car?', '10 Things I Hate About You',
       'The Butterfly Effect', 'The Mist', 'Being John Malkovich',
       'Letters from Iwo Jima', 'The Astronaut Farmer', '54',
       'Birthday Girl', "Paris, je t'aime", 'True Romance',
       'Lars and the Real Girl', 'Dancer in the Dark', 'American Pie',
       'Star Trek II: The Wrath of Khan',
       'Beavis and Butt-Head Do America', 'Jackie Brown', 'Crank',
       'Girl with a Pearl Earring', 'Das Boot', 'The Host', '2046',
       'Brother', 'A Woman, a Gun and a Noodle Shop', '5 Days of War',
       'Snatch', 'Gremlins', 'Star Wars', 'Doctor Zhivago',
       'Dead Man Walking', 'Barry Lyndon', 'Army of Darkness',
       "What's Eating Gilbert Grape", 'Copying Beethoven',
       '2001: A Space Odyssey', 'Good Will Hunting', 'Saw III',
       'Bring It On', 'Saw IV', 'The Grudge',
       "Bill & Ted's Excellent Adventure", 'The Outsiders', 'Mud',
       'Love Jones', 'Office Space', 'American History X',
       'Run, Fatboy, Run', 'Romeo Is Bleeding', 'Crash',
       'My Blueberry Nights', 'Severance', 'You Only Live Twice',
       'Volver', 'Alien', 'Sicko', 'The Contender', 'Trading Places',
       'The Way of the Gun', 'The Legend of Suriyothai', 'Pulp Fiction',
       'Stand by Me', '28 Days Later', "On Her Majesty's Secret Service",
       'American Psycho', '8 Women', 'Akira', 'Imagine Me & You',
       'Swimming Pool', 'Shopgirl', 'Code 46', 'Persepolis',
       'Harry Brown', 'Diamonds Are Forever', 'The Godfather',
       'Flashdance', 'Live and Let Die', 'Flirting with Disaster',
       "The Devil's Rejects", 'House of 1000 Corpses', 'Veer-Zaara',
       'Gerry', 'Pale Rider', 'Elite Squad', 'Boyz n the Hood',
       'Friends with Money', 'Nowhere in Africa', 'Layer Cake',
       'The Terminator', 'Good bye, Lenin!', 'Grease', 'Fahrenheit 9/11',
       'Mary Poppins', 'Escape from New York',
       'The Last King of Scotland', 'The Greatest', 'Videodrome',
       'The Spanish Apartment', 'The Protector', 'Bend It Like Beckham',
       'The Chorus', 'Mambo Italiano', 'Saw II', 'Jackass: The Movie',
       'Monster', '20,000 Leagues Under the Sea', 'The Elephant Man',
       'Memento', 'Clerks II', 'Billy Elliot', 'Y Tu MamÃ¡ TambiÃ©n',
       'Shaun of the Dead', 'Once Upon a Time in the West',
       'Jekyll and Hyde ... Together Again', 'Heavenly Creatures',
       'The Machinist', 'Party Monster', 'Hostel', 'Dear Frankie',
       'The Blue Lagoon', '25th Hour', 'Donnie Darko',
       'Sympathy for Lady Vengeance', "One Flew Over the Cuckoo's Nest",
       'Whale Rider', 'Night Watch', 'Lost in Translation', 'Annie Hall',
       "Monster's Ball", 'Leaving Las Vegas', 'The Front Page',
       'They Live', 'Scoop', 'The Orphanage', 'The Rules of Attraction',
       'Topaz', 'Four Rooms', 'Thumbsucker', 'The Helpers',
       'The History Boys', 'Midnight Cowboy', 'Airplane!', 'Harper',
       'Frenzy', 'Gods and Monsters', 'Evil Dead II', 'D.E.B.S.',
       'March of the Penguins', 'A Christmas Story', "Rosemary's Baby",
       'Maria Full of Grace', 'Trainspotting', 'Bowling for Columbine',
       'Cat on a Hot Tin Roof', 'Family Plot', 'Torn Curtain',
       "Dave Chappelle's Block Party", 'Red River',
       'Willy Wonka & the Chocolate Factory', 'Basquiat', 'Oldboy',
       'Summer Storm', 'Pocketful of Miracles', 'Some Like It Hot',
       'The Wizard of Oz', 'Young Frankenstein', 'The Dress', 'Maurice',
       'Riding Giants', "Singin' in the Rain",
       'Escape from the Planet of the Apes', 'My Own Private Idaho',
       'Garden State', 'Before Sunrise', 'My Life Without Me', 'Fantasia',
       'Lies in Plain Sight', 'To Kill a Mockingbird',
       'Mad Max 2: The Road Warrior', 'The Lives of Others',
       'The Hustler', 'American Splendor', 'Before Sunset',
       'Amores perros', 'Me and You and Everyone We Know',
       'Ghost Dog: The Way of the Samurai', 'Shortbus', 'Stitches',
       'The Lady from Shanghai', 'A Streetcar Named Desire',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'The Crime of Padre Amaro', "Hang 'em High", 'Run Lola Run',
       'Conquest of the Planet of the Apes', 'In the Bedroom',
       'The Conversation', 'Mr. Smith Goes to Washington', 'Spellbound',
       'Killing Zoe', 'The Believer', 'Modern Times', 'My Name Is Bruce',
       'Snow White and the Seven Dwarfs',
       'Lock, Stock and Two Smoking Barrels', 'The Celebration',
       'Rebecca', 'Saw', 'Monsoon Wedding', 'Reservoir Dogs',
       'The Good, the Bad and the Ugly', 'Blue Like Jazz', 'Casablanca',
       'Rocky', 'Taxi Driver', 'Transamerica', 'Shine a Light',
       'Two Girls and a Guy', 'Brigham City', 'Orgazmo',
       'Once in a Lifetime: The Extraordinary Story of the New York Cosmos',
       'The Pet', '4 Months, 3 Weeks and 2 Days', 'Hard Candy',
       "Pandora's Box", 'American Graffiti',
       'Kevin Hart: Laugh at My Pain', 'High Noon', 'Rize',
       "A Hard Day's Night", 'Open Water', 'The Station Agent',
       'Seven Samurai', 'Scott Walker: 30 Century Man', '42nd Street',
       'As It Is in Heaven', 'Dogtown and Z-Boys',
       'Monty Python and the Holy Grail', 'QuinceaÃ±era', 'The Evil Dead',
       '12 Angry Men', 'It Happened One Night', 'Pieces of April',
       'Pierrot le Fou', 'Chasing Amy', 'Cube', 'The Big Parade',
       'A Fistful of Dollars', 'Once', 'Roger & Me', 'Pi', 'Clerks',
       'Pink Flamingos'], dtype=object)

In [20]:
movies[movies.title=='King Kong']['id'].tolist()

[254]

In [21]:
def give_overview_recommendations(movie_title,sig):
    movie_id=movies[movies.title==movie_title]['id'].tolist()[0]
    index=movieid_index_mapping[movieid_index_mapping.movieId==movie_id]['index'].tolist()[0]
    similarity=sorted(list(enumerate(sig[index])),key=lambda x:x[1],reverse=True)
    recommended_movie_indices=[i[0] for i in similarity]
    recommended_movies=[]
    for i in recommended_movie_indices[1:11
                                      ]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [22]:
give_overview_recommendations("Licence to Kill",sig)

['Dracula',
 'Doctor Zhivago',
 'Mirror Mirror',
 'Mad Max 2: The Road Warrior',
 'The Number 23',
 'The Sentinel',
 'The Reaping',
 'Eyes Wide Shut',
 'Hero',
 'Carriers']

## (2) Content Based Recommendations

In [23]:
movies=movies_copy

In [24]:
movies.head()

,Unnamed: 0,budget,genres,id,overview,popularity,runtime,original_language,title
0,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [25]:
movies=movies.iloc[:,1:]

In [26]:
movies.head()

,budget,genres,id,overview,popularity,runtime,original_language,title
0,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [27]:
import json
movies['genres']=movies['genres'].apply(json.loads)

In [28]:
movies['genres']

0      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
1      [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
2      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
4      [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
5      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
6      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
7      [{'id': 12, 'name': 'Adventure'}, {'id': 18, '...
8      [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
9      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
10     [{'id': 878, 'name': 'Science Fiction'}, {'id'...
11     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
12     [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
13     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
14     [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
15     [{'id': 28, 'name': 'Action'}, {'id': 878, 'na...
16     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
17     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
18     [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
19     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
20     [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
21     [{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...
22     [{'id': 12, 'name': 'Adventure'}, {'id': 878, ...
23     [{'id': 10752, 'name': 'War'}, {'id': 36, 'nam...
24     [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
25     [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
26     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
27     [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
28     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
29     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
                             ...
827    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
828    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
829    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
830    [{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...
831                      [{'id': 37, 'name': 'Western'}]
832                  [{'id': 99, 'name': 'Documentary'}]
833    [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
834    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
835    [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
836    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
837    [{'id': 99, 'name': 'Documentary'}, {'id': 104...
838    [{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...
839    [{'id': 10749, 'name': 'Romance'}, {'id': 18, ...
840                  [{'id': 99, 'name': 'Documentary'}]
841    [{'id': 12, 'name': 'Adventure'}, {'id': 35, '...
842                        [{'id': 18, 'name': 'Drama'}]
843                       [{'id': 27, 'name': 'Horror'}]
844                        [{'id': 18, 'name': 'Drama'}]
845    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
846    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
847    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
848    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
849    [{'id': 53, 'name': 'Thriller'}, {'id': 878, '...
850    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
851                      [{'id': 37, 'name': 'Western'}]
852    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
853    [{'id': 99, 'name': 'Documentary'}, {'id': 36,...
854    [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
855                       [{'id': 35, 'name': 'Comedy'}]
856    [{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...
Name: genres, Length: 857, dtype: object

In [29]:
def pipe_flatten_names(keywords):
    return '|'.join([x['name'] for x in keywords])
movies['genres'] = movies['genres'].apply(pipe_flatten_names)

In [30]:
movies['genres']

0                             Adventure|Fantasy|Action
1                             Fantasy|Action|Adventure
2                             Adventure|Fantasy|Family
3                             Adventure|Fantasy|Action
4                             Adventure|Family|Fantasy
5                             Adventure|Action|Fantasy
6                                    Adventure|Fantasy
7                               Adventure|Drama|Action
8                               Drama|Romance|Thriller
9                             Action|Adventure|Fantasy
10                    Science Fiction|Action|Adventure
11                   Animation|Family|Adventure|Comedy
12                     Action|Science Fiction|Thriller
13                                    Adventure|Action
14                         Drama|Action|Crime|Thriller
15                    Action|Science Fiction|Adventure
16     Action|Adventure|Comedy|Science Fiction|Western
17                            Adventure|Action|Fantasy
18                  Adventure|Animation|Family|Fantasy
19                     Action|Thriller|Science Fiction
20               Fantasy|Adventure|Action|Comedy|Drama
21           Fantasy|Adventure|Animation|Comedy|Family
22                    Adventure|Science Fiction|Action
23          War|History|Action|Adventure|Drama|Romance
24                            Adventure|Fantasy|Family
25                     Adventure|Comedy|Family|Fantasy
26                     Animation|Comedy|Family|Fantasy
27                                  Action|Crime|Drama
28           Adventure|Action|Thriller|Science Fiction
29           Adventure|Action|Thriller|Science Fiction
                            ...
827                                     Drama|Thriller
828                             Drama|Thriller|Romance
829                                       Comedy|Drama
830                                 Comedy|Documentary
831                                            Western
832                                        Documentary
833                                       Comedy|Music
834                                     Drama|Thriller
835                                       Drama|Comedy
836                                       Action|Drama
837                                  Documentary|Music
838                               Music|Comedy|Romance
839                         Romance|Drama|Comedy|Music
840                                        Documentary
841                           Adventure|Comedy|Fantasy
842                                              Drama
843                                             Horror
844                                              Drama
845                                     Comedy|Romance
846                                       Comedy|Drama
847                                     Drama|Thriller
848                               Comedy|Drama|Romance
849                   Thriller|Science Fiction|Mystery
850                                  Drama|Romance|War
851                                            Western
852                                Drama|Music|Romance
853                                Documentary|History
854                             Mystery|Drama|Thriller
855                                             Comedy
856                                Horror|Comedy|Crime
Name: genres, Length: 857, dtype: object

In [31]:
cleaned = movies.genres.str.split('|', expand=True).stack()
dummies=pd.get_dummies(cleaned, prefix='g').groupby(level=0).sum()
movies_encoded=movies.merge(dummies,left_index=True, right_index=True)

In [32]:
movies_encoded.head()

,budget,genres,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,...,g_Foreign,g_History,g_Horror,g_Music,g_Mystery,g_Romance,g_Science Fiction,g_Thriller,g_War,g_Western
0,300000000,Adventure|Fantasy|Action,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,...,0,0,0,0,0,0,0,0,0,0
1,258000000,Fantasy|Action|Adventure,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,...,0,0,0,0,0,0,0,0,0,0
2,250000000,Adventure|Fantasy|Family,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,...,0,0,0,0,0,0,0,0,0,0
3,200000000,Adventure|Fantasy|Action,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,...,0,0,0,0,0,0,0,0,0,0
4,225000000,Adventure|Family|Fantasy,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,...,0,0,0,0,0,0,0,0,0,0

In [33]:
movies=movies_encoded.drop('genres',axis=1)

In [34]:
movies_copy10=movies.copy()

In [35]:
movies

,budget,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,...,g_Foreign,g_History,g_Horror,g_Music,g_Mystery,g_Romance,g_Science Fiction,g_Thriller,g_War,g_Western
0,300000000,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,258000000,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,250000000,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,200000000,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,225000000,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,380000000,1865,Captain Jack Sparrow crosses paths with a woma...,135.413856,136.0,en,Pirates of the Caribbean: On Stranger Tides,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,180000000,2268,"After overhearing a shocking secret, precociou...",42.990906,113.0,en,The Golden Compass,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,207000000,254,"In 1933 New York, an overly ambitious movie pr...",61.226010,187.0,en,King Kong,1,1,0,...,0,0,0,0,0,0,0,0,0,0
8,200000000,597,"84 years later, a 101-year-old woman named Ros...",100.025899,194.0,en,Titanic,0,0,0,...,0,0,0,0,0,1,0,1,0,0
9,200000000,558,Peter Parker is going through a major identity...,35.149586,127.0,en,Spider-Man 2,1,1,0,...,0,0,0,0,0,0,0,0,0,0
10,150000000,8373,Sam Witwicky leaves the Autobots behind for a ...,21.939663,150.0,en,Transformers: Revenge of the Fallen,1,1,0,...,0,0,0,0,0,0,1,0,0,0
11,200000000,49013,Star race car Lightning McQueen and his pal Ma...,49.986590,106.0,en,Cars 2,0,1,1,...,0,0,0,0,0,0,0,0,0,0
12,200000000,534,"All grown up in post-apocalyptic 2018, John Co...",71.862892,115.0,en,Terminator Salvation,1,0,0,...,0,0,0,0,0,0,1,1,0,0
13,185000000,217,"Set during the Cold War, the Soviets â€“ led by ...",75.674458,122.0,en,Indiana Jones and the Kingdom of the Crystal S...,1,1,0,...,0,0,0,0,0,0,0,0,0,0
14,185000000,155,Batman raises the stakes in his war on crime. ...,187.322927,152.0,en,The Dark Knight,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15,140000000,1726,"After being held captive in an Afghan cave, bi...",120.725053,126.0,en,Iron Man,1,1,0,...,0,0,0,0,0,0,1,0,0,0
16,170000000,8487,Legless Southern inventor Dr. Arliss Loveless ...,40.748915,106.0,en,Wild Wild West,1,1,0,...,0,0,0,0,0,0,1,0,0,1
17,145000000,1735,"Archaeologist Rick O'Connell travels to China,...",60.034162,112.0,en,The Mummy: Tomb of the Dragon Emperor,1,1,0,...,0,0,0,0,0,0,0,0,0,0
18,165000000,5255,When a doubting young boy takes an extraordina...,47.323228,100.0,en,The Polar Express,0,1,1,...,0,0,0,0,0,0,0,0,0,0
19,200000000,296,It's been 10 years since John Connor saved Ear...,69.405188,109.0,en,Terminator 3: Rise of the Machines,1,0,0,...,0,0,0,0,0,0,1,1,0,0
20,150000000,27022,Balthazar Blake is a master sorcerer in modern...,35.580815,109.0,en,The Sorcerer's Apprentice,1,1,0,...,0,0,0,0,0,0,0,0,0,0
21,160000000,810,The King of Far Far Away has died and Shrek an...,42.986467,93.0,en,Shrek the Third,0,1,1,...,0,0,0,0,0,0,0,0,0,0
22,150000000,1858,"Young teenager, Sam Witwicky becomes involved ...",25.468493,144.0,en,Transformers,1,1,0,...,0,0,0,0,0,0,1,0,0,0
23,155000000,1966,"Alexander, the King of Macedonia, leads his le...",39.019229,175.0,en,Alexander,1,1,0,...,0,1,0,0,0,1,0,0,1,0
24,150000000,674,"Harry starts his fourth year at Hogwarts, comp...",101.250416,157.0,en,Harry Potter and the Goblet of Fire,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25,150000000,118,A young boy wins a tour through the most magni...,53.905592,115.0,en,Charlie and the Chocolate Factory,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,150000000,2062,A rat named Remy dreams of becoming a great Fr...,65.677399,111.0,en,Ratatouille,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,150000000,272,"Driven by tragedy, billionaire Bruce Wayne ded...",115.040024,140.0,en,Batman Begins,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,150000000,2080,"After seeking to live a normal life, Logan set...",5.954334,107.0,en,X-Men Origins: Wolverine,1,1,0,...,0,0,0,0,0,0,1,1,0,0
29,150000000,605,The human city of Zion defends itself against ...,73.313918,129.0,en,The Matrix Revolutions,1,1,0,...,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,950000,2652,A mature 14-year old girl meets a charming 32-...,25.918007,103.0,en,Hard Candy,0,0,0,...,0,0,0,0,0,0,0,1,0,0
828,0,905,The rise and inevitable fall of an amoral but ...,1.824184,109.0,de,Pandora's Box,0,0,0,...,0,0,0,0,0,1,0,1,0,0
829,777000,838,A couple of high school graduates spend one fi...,19.326115,110.0,en,American Graffiti,0,0,0,...,0,0,0,0,0,0,0,0,0,0
830,0,74510,Experience the show that quickly became a nati...,5.498834,89.0,en,Kevin Hart: Laugh at My Pain,0,0,0,...,0,0,0,0,0,0,0,0,0,0
831,730000,288,High Noon is about a recently freed leader of ...,18.644023,85.0,en,High Noon,0,0,0,...,0,0,0,0,0,0,0,0,0,1
832,0,2287,A documentary film that highlights two street ...,1.623769,86.0,en,Rize,0,0,0,...,0,0,0,0,0,0,0,0,0,0
833,560000,704,"Capturing John Lennon, Paul McCartney, George ...",10.730056,88.0,en,A Hard Day's Night,0,0,0,...,0,0,0,1,0,0,0,0,0,0
834,130000,83,Two divers are left out at sea without a boat....,15.611857,79.0,en,Open Water,0,0,0,...,0,0,0,0,0,0,0,1,0,0
835,500000,2056,"When his only friend dies, a man born with dwa...",11.578545,88.0,en,The Station Agent,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836,2000000,346,A samurai answers a village's request for prot...,39.756748,207.0,ja,Seven Samurai,1,0,0,...,0,0,0,0,0,0,0,0,0,0
837,0,30867,A documentary on the influential musician Scot...,0.607782,95.0,en,Scott Walker: 30 Century Man,0,0,0,...,0,0,0,1,0,0,0,0,0,0
838,439000,3062,A producer puts on what may be his last Broadw...,1.933366,89.0,en,42nd Street,0,0,0,...,0,0,0,1,0,1,0,0,0,0
839,0,464,A musical romantic tragedy about a famous comp...,4.321249,132.0,sv,As It Is in Heaven,0,0,0,...,0,0,0,1,0,1,0,0,0,0
840,0,1282,Dogtown and Z-Boys follows the evolution of sk...,3.291609,91.0,en,Dogtown and Z-Boys,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,400000,762,"King Arthur, accompanied by his squire, recrui...",64.782984,91.0,en,Monty Python and the Holy Grail,0,1,0,...,0,0,0,0,0,0,0,0,0,0
842,0,64499,"As Magdalena's 15th birthday approaches, her s...",0.034135,90.0,it,QuinceaÃ±era,0,0,0,...,0,0,0,0,0,0,0,0,0,0
843,350000,764,When a group of college students finds a myste...,35.037625,85.0,en,The Evil Dead,0,0,0,...,0,0,1,0,0,0,0,0,0,0
844,350000,389,The defense and the prosecution have rested an...,59.259204,96.0,en,12 Angry Men,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,325000,3078,Ellie Andrews has just tied the knot with soci...,11.871424,105.0,en,It Happened One Night,0,0,0,...,0,0,0,0,0,1,0,0,0,0
846,300000,1550,Quirky and rebellious April Burns lives with h...,4.270596,81.0,en,Pieces of April,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847,300000,2786,Pierrot escapes his boring society and travels...,7.791898,110.0,fr,Pierrot le Fou,0,0,0,...,0,0,0,0,0,0,0,1,0,0
848,250000,2255,Holden and Banky are comic book artists. Every...,20.601483,113.0,en,Chasing Amy,0,0,0,...,0,0,0,0,0,1,0,0,0,0
849,250000,431,Seven strangers are taken out of their daily l...,44.656151,90.0,en,Cube,0,0,0,...,0,0,0,0,1,0,1,1,0,0
850,245000,3060,The story of an idle rich boy who joins the US...,0.785744,151.0,en,The Big Parade,0,0,0,...,0,0,0,0,0,1,0,0,1,0
851,200000,391,The Man With No Name enters the Mexican villag...,38.771062,99.0,it,A Fistful of Dollars,0,0,0,...,0,0,0,0,0,0,0,0,0,1
852,160000,5723,A vacuum repairman moonlights as a street musi...,19.052179,85.0,en,Once,0,0,0,...,0,0,0,1,0,1,0,0,0,0
853,160000,1779,A documentary about the closure of General Mot...,3.284903,91.0,en,Roger & Me,0,0,0,...,0,1,0,0,0,0,0,0,0,0
854,60000,473,The debut film from Darren Aronofsky in which ...,27.788067,84.0,en,Pi,0,0,0,...,0,0,0,0,1,0,0,1,0,0
855,27000,2292,Convenience and video store clerks Dante and R...,19.748658,92.0,en,Clerks,0,0,0,...,0,0,0,0,0,0,0,0,0,0
856,12000,692,Notorious Baltimore criminal and underground f...,4.553644,93.0,en,Pink Flamingos,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [36]:
overview_tfidf=overview_matrix

In [37]:
overview_cols=vectorizer.get_feature_names()

In [38]:
from pandas import DataFrame

In [40]:
overview_df=pd.DataFrame(overview_tfidf.toarray(),columns=overview_cols)

In [41]:
movies_with_overview=pd.concat([movies,overview_df],axis=1)

In [42]:
movies_with_overview

,budget,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,...,works,world,worse,writer,wrong,year,years,york,young,younger
0,300000000,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
1,258000000,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
2,250000000,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.207012,0.00000,0.000000,0.000000,0.0
3,200000000,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,...,0.388641,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
4,225000000,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.184659,0.00000,0.000000,0.148494,0.0
5,380000000,1865,Captain Jack Sparrow crosses paths with a woma...,135.413856,136.0,en,Pirates of the Caribbean: On Stranger Tides,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
6,180000000,2268,"After overhearing a shocking secret, precociou...",42.990906,113.0,en,The Golden Compass,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
7,207000000,254,"In 1933 New York, an overly ambitious movie pr...",61.226010,187.0,en,King Kong,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.216251,0.000000,0.0
8,200000000,597,"84 years later, a 101-year-old woman named Ros...",100.025899,194.0,en,Titanic,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.127327,0.12066,0.000000,0.102390,0.0
9,200000000,558,Peter Parker is going through a major identity...,35.149586,127.0,en,Spider-Man 2,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
10,150000000,8373,Sam Witwicky leaves the Autobots behind for a ...,21.939663,150.0,en,Transformers: Revenge of the Fallen,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
11,200000000,49013,Star race car Lightning McQueen and his pal Ma...,49.986590,106.0,en,Cars 2,0,1,1,...,0.000000,0.184462,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
12,200000000,534,"All grown up in post-apocalyptic 2018, John Co...",71.862892,115.0,en,Terminator Salvation,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
13,185000000,217,"Set during the Cold War, the Soviets â€“ led by ...",75.674458,122.0,en,Indiana Jones and the Kingdom of the Crystal S...,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.143957,0.0
14,185000000,155,Batman raises the stakes in his war on crime. ...,187.322927,152.0,en,The Dark Knight,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
15,140000000,1726,"After being held captive in an Afghan cave, bi...",120.725053,126.0,en,Iron Man,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
16,170000000,8487,Legless Southern inventor Dr. Arliss Loveless ...,40.748915,106.0,en,Wild Wild West,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
17,145000000,1735,"Archaeologist Rick O'Connell travels to China,...",60.034162,112.0,en,The Mummy: Tomb of the Dragon Emperor,1,1,0,...,0.000000,0.132572,0.0,0.0,0.0,0.158133,0.00000,0.000000,0.000000,0.0
18,165000000,5255,When a doubting young boy takes an extraordina...,47.323228,100.0,en,The Polar Express,0,1,1,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.181413,0.0
19,200000000,296,It's been 10 years since John Connor saved Ear...,69.405188,109.0,en,Terminator 3: Rise of the Machines,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.14249,0.000000,0.000000,0.0
20,150000000,27022,Balthazar Blake is a master sorcerer in modern...,35.580815,109.0,en,The Sorcerer's Apprentice,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
21,160000000,810,The King of Far Far Away has died and Shrek an...,42.986467,93.0,en,Shrek the Third,0,1,1,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
22,150000000,1858,"Young teenager, Sam Witwicky becomes involved ...",25.468493,144.0,en,Transformers,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.187944,0.0
23,155000000,1966,"Alexander, the King of Macedonia, leads his le...",39.019229,175.0,en,Alexander,1,1,0,...,0.000000,0.196596,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
24,150000000,674,"Harry starts his fourth year at Hogwarts, comp...",101.250416,157.0,en,Harry Potter and the Goblet of Fire,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.185998,0.00000,0.000000,0.000000,0.0
25,150000000,118,A young boy wins a tour through the most magni...,53.905592,115.0,en,Charlie and the Chocolate Factory,0,1,0,...,0.000000,0.525728,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.252141,0.0
26,150000000,2062,A rat named Remy dreams of becoming a great Fr...,65.677399,111.0,en,Ratatouille,0,0,1,...,0.000000,0.118576,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
27,150000000,272,"Driven by tragedy, billionaire Bruce Wayne ded...",115.040024,140.0,en,Batman Begins,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
28,150000000,2080,"After seeking to live a normal life, Logan set...",5.954334,107.0,en,X-Men Origins: Wolverine,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
29,150000000,605,The human city of Zion defends itself against ...,73.313918,129.0,en,The Matrix Revolutions,1,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,950000,2652,A mature 14-year old girl meets a charming 32-...,25.918007,103.0,en,Hard Candy,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.473207,0.00000,0.000000,0.000000,0.0
828,0,905,The rise and inevitable fall of an amoral but ...,1.824184,109.0,de,Pandora's Box,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.256702,0.0
829,777000,838,A couple of high school graduates spend one fi...,19.326115,110.0,en,American Graffiti,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
830,0,74510,Experience the show that quickly became a nati...,5.498834,89.0,en,Kevin Hart: Laugh at My Pain,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
831,730000,288,High Noon is about a recently freed leader of ...,18.644023,85.0,en,High Noon,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
832,0,2287,A documentary film that highlights two street ...,1.623769,86.0,en,Rize,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
833,560000,704,"Capturing John Lennon, Paul McCartney, George ...",10.730056,88.0,en,A Hard Day's Night,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
834,130000,83,Two divers are left out at sea without a boat....,15.611857,79.0,en,Open Water,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
835,500000,2056,"When his only friend dies, a man born with dwa...",11.578545,88.0,en,The Station Agent,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
836,2000000,346,A samurai answers a village's request for prot...,39.756748,207.0,ja,Seven Samurai,1,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
837,0,30867,A documentary on the influential musician Scot...,0.607782,95.0,en,Scott Walker: 30 Century Man,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
838,439000,3062,A producer puts on what may be his last Broadw...,1.933366,89.0,en,42nd Street,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
839,0,464,A musical romantic tragedy about a famous comp...,4.321249,132.0,sv,As It Is in Heaven,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
840,0,1282,Dogtown and Z-Boys follows the evolution of sk...,3.291609,91.0,en,Dogtown and Z-Boys,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
841,400000,762,"King Arthur, accompanied by his squire, recrui...",64.782984,91.0,en,Monty Python and the Holy Grail,0,1,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
842,0,64499,"As Magdalena's 15th birthday approaches, her s...",0.034135,90.0,it,QuinceaÃ±era,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
843,350000,764,When a group of college students finds a myste...,35.037625,85.0,en,The Evil Dead,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
844,350000,389,The defense and the prosecution have rested an...,59.259204,96.0,en,12 Angry Men,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.168547,0.0
845,325000,3078,Ellie Andrews has just tied the knot with soci...,11.871424,105.0,en,It Happened One Night,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
846,300000,1550,Quirky and rebellious April Burns lives with h...,4.270596,81.0,en,Pieces of April,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.160492,0.000000,0.0
847,300000,2786,Pierrot escapes his boring society and travels...,7.791898,110.0,fr,Pierrot le Fou,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
848,250000,2255,Holden and Banky are comic book artists. Every...,20.601483,113.0,en,Chasing Amy,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
849,250000,431,Seven strangers are taken out of their daily l...,44.656151,90.0,en,Cube,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
850,245000,3060,The story of an idle rich boy who joins the US...,0.785744,151.0,en,The Big Parade,0,0,0,...,0.000000,0.175253,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
851,200000,391,The Man With No Name enters the Mexican villag...,38.771062,99.0,it,A Fistful of Dollars,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
852,160000,5723,A vacuum repairman moonlights as a street musi...,19.052179,85.0,en,Once,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
853,160000,1779,A documentary about the closure of General Mot...,3.284903,91.0,en,Roger & Me,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
854,60000,473,The debut film from Darren Aronofsky in which ...,27.788067,84.0,en,Pi,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
855,27000,2292,Convenience and video store clerks Dante and R...,19.748658,92.0,en,Clerks,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0
856,12000,692,Notorious Baltimore criminal and underground f...,4.553644,93.0,en,Pink Flamingos,0,0,0,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.00000,0.000000,0.000000,0.0

In [43]:
movies_with_overview=movies_with_overview.drop('overview',axis=1)

In [44]:
movies_with_overview.columns

Index(['budget', 'id', 'popularity', 'runtime', 'original_language', 'title',
       'g_Action', 'g_Adventure', 'g_Animation', 'g_Comedy',
       ...
       'works', 'world', 'worse', 'writer', 'wrong', 'year', 'years', 'york',
       'young', 'younger'],
      dtype='object', length=1042)

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
user_ratings_nonan=user_ratings.fillna(int(0))

In [50]:
user_ratings_nonan

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,15,4.5,2.5,0.0,0.0,2.5,3.5,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,0.0,0.0
15,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,18,3.0,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,19,0.0,3.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,0.0,3.5,0.0,0.0,0.0,4.0,0.0,2.0,1.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,30,0.0,4.0,0.0,0.0,4.0,5.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,642,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
641,643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
642,644,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
643,645,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
644,646,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
645,647,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
646,648,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
647,649,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
648,650,3.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
649,651,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
650,652,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
651,653,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
652,654,4.0,4.5,0.0,0.0,0.0,0.0,0.0,4.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
653,655,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
654,656,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
655,657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
656,658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
657,659,0.0,0.0,0.0,0.0,4.0,5.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
658,660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
659,661,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
660,662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
661,663,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,664,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
663,665,3.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
664,666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
665,667,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
666,668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
667,669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
! pip install --upgrade pandas

^C

In [54]:
ratings_matrix=user_ratings_nonan.iloc[:,1:].values

In [55]:
ratings_matrix.shape

(670, 857)

In [56]:
movies_with_overview.head()

,budget,id,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,g_Comedy,...,works,world,worse,writer,wrong,year,years,york,young,younger
0,300000000,285,139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1,258000000,559,115.699814,139.0,en,Spider-Man 3,1,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,250000000,767,98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.207012,0.0,0.0,0.000000,0.0
3,200000000,58,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,0,...,0.388641,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
4,225000000,2454,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.184659,0.0,0.0,0.148494,0.0

In [57]:
movies_encoded=pd.get_dummies(data=movies_with_overview, columns=['original_language'])

In [58]:
movies_copy50=movies_encoded.copy()

In [59]:
movies_encoded

,budget,id,popularity,runtime,title,g_Action,g_Adventure,g_Animation,g_Comedy,g_Crime,...,original_language_it,original_language_ja,original_language_ko,original_language_nl,original_language_pt,original_language_ro,original_language_ru,original_language_sv,original_language_th,original_language_zh
0,300000000,285,139.082615,169.0,Pirates of the Caribbean: At World's End,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,258000000,559,115.699814,139.0,Spider-Man 3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250000000,767,98.885637,153.0,Harry Potter and the Half-Blood Prince,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200000000,58,145.847379,151.0,Pirates of the Caribbean: Dead Man's Chest,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,225000000,2454,53.978602,150.0,The Chronicles of Narnia: Prince Caspian,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,380000000,1865,135.413856,136.0,Pirates of the Caribbean: On Stranger Tides,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,180000000,2268,42.990906,113.0,The Golden Compass,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,207000000,254,61.226010,187.0,King Kong,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,200000000,597,100.025899,194.0,Titanic,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,200000000,558,35.149586,127.0,Spider-Man 2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,150000000,8373,21.939663,150.0,Transformers: Revenge of the Fallen,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,200000000,49013,49.986590,106.0,Cars 2,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
12,200000000,534,71.862892,115.0,Terminator Salvation,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,185000000,217,75.674458,122.0,Indiana Jones and the Kingdom of the Crystal S...,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,185000000,155,187.322927,152.0,The Dark Knight,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,140000000,1726,120.725053,126.0,Iron Man,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,170000000,8487,40.748915,106.0,Wild Wild West,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,145000000,1735,60.034162,112.0,The Mummy: Tomb of the Dragon Emperor,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,165000000,5255,47.323228,100.0,The Polar Express,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,200000000,296,69.405188,109.0,Terminator 3: Rise of the Machines,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,150000000,27022,35.580815,109.0,The Sorcerer's Apprentice,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21,160000000,810,42.986467,93.0,Shrek the Third,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
22,150000000,1858,25.468493,144.0,Transformers,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,155000000,1966,39.019229,175.0,Alexander,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,150000000,674,101.250416,157.0,Harry Potter and the Goblet of Fire,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,150000000,118,53.905592,115.0,Charlie and the Chocolate Factory,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,150000000,2062,65.677399,111.0,Ratatouille,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
27,150000000,272,115.040024,140.0,Batman Begins,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,150000000,2080,5.954334,107.0,X-Men Origins: Wolverine,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,150000000,605,73.313918,129.0,The Matrix Revolutions,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,950000,2652,25.918007,103.0,Hard Candy,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
828,0,905,1.824184,109.0,Pandora's Box,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
829,777000,838,19.326115,110.0,American Graffiti,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
830,0,74510,5.498834,89.0,Kevin Hart: Laugh at My Pain,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
831,730000,288,18.644023,85.0,High Noon,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
832,0,2287,1.623769,86.0,Rize,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
833,560000,704,10.730056,88.0,A Hard Day's Night,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
834,130000,83,15.611857,79.0,Open Water,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
835,500000,2056,11.578545,88.0,The Station Agent,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
836,2000000,346,39.756748,207.0,Seven Samurai,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
837,0,30867,0.607782,95.0,Scott Walker: 30 Century Man,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
838,439000,3062,1.933366,89.0,42nd Street,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
839,0,464,4.321249,132.0,As It Is in Heaven,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
840,0,1282,3.291609,91.0,Dogtown and Z-Boys,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
841,400000,762,64.782984,91.0,Monty Python and the Holy Grail,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
842,0,64499,0.034135,90.0,QuinceaÃ±era,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
843,350000,764,35.037625,85.0,The Evil Dead,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
844,350000,389,59.259204,96.0,12 Angry Men,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,325000,3078,11.871424,105.0,It Happened One Night,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
846,300000,1550,4.270596,81.0,Pieces of April,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
847,300000,2786,7.791898,110.0,Pierrot le Fou,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
848,250000,2255,20.601483,113.0,Chasing Amy,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
849,250000,431,44.656151,90.0,Cube,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
850,245000,3060,0.785744,151.0,The Big Parade,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
851,200000,391,38.771062,99.0,A Fistful of Dollars,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
852,160000,5723,19.052179,85.0,Once,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
853,160000,1779,3.284903,91.0,Roger & Me,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
854,60000,473,27.788067,84.0,Pi,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855,27000,2292,19.748658,92.0,Clerks,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
856,12000,692,4.553644,93.0,Pink Flamingos,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [72]:
scaler = MinMaxScaler()
movies_matrix=movies_encoded.drop(['title','id'],axis=1)
movies_matrix_scaled=scaler.fit_transform(movies_matrix)

In [75]:
movies_matrix_scaled.shape

(857, 1055)

In [60]:
# movies_matrix=movies_encoded.drop(['title','id'],axis=1)

In [73]:
# movies_matrix_encoded=movies_matrix_scaled.values

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [78]:
movies_matrix_scaled.shape

(857, 1055)

In [79]:
user_preferences=np.dot(ratings_matrix,movies_matrix_scaled)

In [80]:
row_sums = user_preferences.sum(axis=1)
user_preferences = user_preferences / row_sums[:, np.newaxis]

In [81]:
weighted_features_matrix=np.dot(user_preferences,movies_matrix_encoded.T)

In [82]:
weighted_features_matrix.shape

(670, 857)

In [83]:
ratings_matrix.shape

(670, 857)

In [85]:
req_matrix=np.where(ratings_matrix==0,weighted_features_matrix,-np.inf)

In [94]:
def give_overview_recommendations(user_id,req_matrix):
#     movie_id=movies[user_.title==movie_title]['id'].tolist()[0]
    index=userid_index_mapping[userid_index_mapping.user_id==user_id]['index'].tolist()[0]
#     matrix_req=weighted_features_matrix*tarings_matrix
    movies_rec=sorted(list(enumerate(req_matrix[index])),key=lambda x:x[1],reverse=True)
    recommended_movie_indices=[i[0] for i in movies_rec]
    recommended_movies=[]
    for i in recommended_movie_indices[0:11]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [92]:
userid_index_mapping

     index  user_id
0        0        1
1        1        2
2        2        3
3        3        4
4        4        5
5        5        6
6        6        7
7        7        8
8        8        9
9        9       10
10      10       11
11      11       12
12      12       13
13      13       14
14      14       15
15      15       16
16      16       17
17      17       18
18      18       19
19      19       20
20      20       21
21      21       22
22      22       23
23      23       24
24      24       25
25      25       26
26      26       27
27      27       28
28      28       29
29      29       30
..     ...      ...
640    640      642
641    641      643
642    642      644
643    643      645
644    644      646
645    645      647
646    646      648
647    647      649
648    648      650
649    649      651
650    650      652
651    651      653
652    652      654
653    653      655
654    654      656
655    655      657
656    656      658
657    657      659
658    658      660
659    659      661
660    660      662
661    661      663
662    662      664
663    663      665
664    664      666
665    665      667
666    666      668
667    667      669
668    668      670
669    669      671

[670 rows x 2 columns]

In [95]:
give_overview_recommendations(5,req_matrix)

['Dancer in the Dark',
 'Four Rooms',
 'Star Wars',
 'Finding Nemo',
 'American Beauty',
 'Metropolis',
 'My Life Without Me',
 'Forrest Gump',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Apocalypse Now',
 '8 Mile']

# Content Based Recommendations are made

# Collaborative Filtering

## (1) KNN Neighbors