In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
sns.set()

In [2]:
user_ratings=pd.read_csv('user_ratings2.csv')
movies=pd.read_csv('movies3.csv')

In [3]:
user_ratings.head()

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(user_ratings)

670

In [5]:
rows=[]
for index,row in user_ratings.iterrows():
    rows.append([index,row['userId']])
rowsnp=np.array(rows)
userid_index_mapping=pd.DataFrame(data=rowsnp,columns=['index','user_id'])

In [7]:
userid_index_mapping['index']=userid_index_mapping['index'].astype('int64')
userid_index_mapping['user_id']=userid_index_mapping['user_id'].astype('int64')

In [9]:
userid_index_mapping

     index  user_id
0        0        1
1        1        2
2        2        3
3        3        4
4        4        5
..     ...      ...
665    665      667
666    666      668
667    667      669
668    668      670
669    669      671

[670 rows x 2 columns]

In [10]:
user_ratings_uid=user_ratings.set_index('userId')

In [11]:
movies_ids=[int(i) for i in user_ratings_uid.columns]
rows=[]
for i in range(len(movies_ids)):
    rows.append([i,movies_ids[i]])
movieid_index_mapping=pd.DataFrame(data=rows,columns=['index','movieId'])

In [12]:
movieid_index_mapping

     index  movieId
0        0        5
1        1       11
2        2       12
3        3       13
4        4       14
..     ...      ...
852    852    98369
853    853   103731
854    854   114635
855    855   115210
856    856   116977

[857 rows x 2 columns]

# Content Based Recommendation

## (1) Overview based

In [13]:
user_ratings_uid_copy=user_ratings_uid.copy()

In [14]:
movies.head()

,Unnamed: 0,budget,genres,id,overview,popularity,runtime,original_language,title
0,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [15]:
movies_copy=movies.copy()

In [16]:
overviews=movies['overview']

In [323]:
from sklearn.feature_extraction.text import TfidfVectorizer as tfidf
vectorizer=tfidf(stop_words='english',max_df=0.99,min_df=0.01)
overview_matrix=vectorizer.fit_transform(overviews)

In [324]:
overview_matrix.shape

(857, 415)

In [325]:
from sklearn.metrics.pairwise import sigmoid_kernel
sig=sigmoid_kernel(overview_matrix,overview_matrix)

In [326]:
sig[0]

array([0.76260429, 0.76159416, 0.76159416, 0.76178213, 0.76164531,
       0.76168086, 0.76159416, 0.76159416, 0.76162177, 0.76159416,
       0.76168184, 0.76159416, 0.76176188, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76171401, 0.76166747, 0.76171567,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76165721, 0.76167503, 0.76159416,
       0.76159416, 0.76168318, 0.76181568, 0.76159416, 0.76164507,
       0.76159416, 0.76159416, 0.76169725, 0.76169136, 0.76159416,
       0.76159416, 0.76159416, 0.76163094, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76165154, 0.7617375 , 0.7616474 , 0.76159416, 0.76164946,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76167754, 0.76159416, 0.76159416, 0.76171965,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76175001, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76168159, 0.76159416,
       0.76168437, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76167789, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76177131, 0.76159416, 0.76159416, 0.76159416,
       0.76165283, 0.76173115, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.7618574 , 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76169167, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76163706,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76164147,
       0.76171781, 0.76164549, 0.76159416, 0.7617802 , 0.76159416,
       0.76159416, 0.76159416, 0.76173123, 0.76172702, 0.76159416,
       0.76170811, 0.7617156 , 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76174932,
       0.76159416, 0.76164314, 0.76159416, 0.76159416, 0.76159416,
       0.76163228, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76175631, 0.76159416, 0.76172856,
       0.76165067, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76168107, 0.76159416, 0.76163483, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76163497, 0.76181434,
       0.76165249, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76176166, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76165626, 0.76159416, 0.76167558,
       0.76159416, 0.76159416, 0.76159416, 0.76165158, 0.76159416,
       0.76166885, 0.76159416, 0.76169846, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76168733, 0.76159416, 0.76159416, 0.76165579, 0.76159416,
       0.76159416, 0.76159416, 0.76165347, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.7618263 ,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76165668,
       0.76159416, 0.76164687, 0.76159416, 0.76159416, 0.76176959,
       0.76159416, 0.76159416, 0.76159416, 0.76173058, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76173517,
       0.76159416, 0.76159416, 0.76163277, 0.76168939, 0.76159416,
       0.76159416, 0.76170036, 0.76159416, 0.76159416, 0.76178571,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76186133, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76183147, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76162296, 0.76159416, 0.76168255, 0.76159416,
       0.76166592, 0.76159416, 0.76159416, 0.76159416, 0.76175578,
       0.76159416, 0.76173412, 0.76159416, 0.7616841 , 0.76159416,
       0.76159416, 0.76187061, 0.76166819, 0.76159416, 0.76159416,
       0.76163734, 0.76159416, 0.76177743, 0.7616367 , 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76176171, 0.76159416,
       0.76159416, 0.76159416, 0.76171462, 0.76159416, 0.76159416,
       0.76159416, 0.76166175, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76168306, 0.76175385,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76171606,
       0.76167542, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76174025, 0.76159416, 0.76159416, 0.76159416, 0.76165092,
       0.76159416, 0.7616395 , 0.76159416, 0.76159416, 0.76172416,
       0.76164411, 0.76171528, 0.76159416, 0.76162835, 0.76159416,
       0.76159416, 0.76159416, 0.76182605, 0.76159416, 0.76167569,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76172626, 0.76159416,
       0.76164682, 0.76159416, 0.76159416, 0.76159416, 0.76167102,
       0.76171413, 0.7616703 , 0.76169523, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.7616398 ,
       0.76159416, 0.76159416, 0.76159416, 0.76166392, 0.76165166,
       0.76183499, 0.76159416, 0.76168766, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76163105, 0.76173185, 0.76159416,
       0.76163642, 0.76163723, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76169049, 0.76166606, 0.76159416, 0.76159416,
       0.76159416, 0.76170748, 0.76159416, 0.76159416, 0.76174618,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76170616,
       0.76159416, 0.76175987, 0.76159416, 0.76165049, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76172751, 0.76159416,
       0.7617534 , 0.76159416, 0.76159416, 0.76166549, 0.76177407,
       0.76159416, 0.76159416, 0.76159416, 0.76165498, 0.76159416,
       0.76166837, 0.76179415, 0.76163658, 0.76191664, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76166584,
       0.76159416, 0.76173002, 0.76159416, 0.76162655, 0.76159416,
       0.76159416, 0.76159416, 0.76170333, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76175256, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76164982, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76166366,
       0.76173073, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76169388, 0.76159416, 0.76164085, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76172748, 0.76169053,
       0.76159416, 0.76159416, 0.76164225, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76164062,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76165494, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76168361,
       0.76159416, 0.76159416, 0.76159416, 0.76163809, 0.76159416,
       0.76163826, 0.76164789, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76168315, 0.76159416, 0.76159416,
       0.76159416, 0.76165213, 0.76159416, 0.76159416, 0.76165978,
       0.76173192, 0.76159416, 0.76159416, 0.76159416, 0.7616861 ,
       0.76159416, 0.76163603, 0.76159416, 0.76171388, 0.76159416,
       0.76159416, 0.76159416, 0.76163422, 0.76159416, 0.76166887,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76167806,
       0.76179424, 0.7616806 , 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.7616432 , 0.761663  , 0.76163943, 0.76159416,
       0.7616362 , 0.76169815, 0.76159416, 0.76164282, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76168992, 0.76159416, 0.76159416,
       0.76159416, 0.76171925, 0.76159416, 0.76159416, 0.76170033,
       0.76175663, 0.76167269, 0.76167336, 0.76159416, 0.76159416,
       0.76159416, 0.76171455, 0.76168658, 0.76159416, 0.76165777,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76168371, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76165198, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76175511, 0.76159416,
       0.76159416, 0.76159416, 0.76169635, 0.76159416, 0.76180292,
       0.76159416, 0.76159416, 0.76164103, 0.76165075, 0.76159416,
       0.76159416, 0.76173332, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76178218, 0.76159416, 0.76159416, 0.76159416,
       0.76173797, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76163673, 0.76166005,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76165313,
       0.76159416, 0.76164247, 0.76159416, 0.76178082, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76164396, 0.76184163,
       0.76162988, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76175986, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76176438,
       0.76159416, 0.76159416, 0.76171573, 0.76173145, 0.76159416,
       0.7617422 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76162425, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76179458, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76163758, 0.76159416, 0.76159416, 0.76212173, 0.76163968,
       0.76162872, 0.76159416, 0.7619309 , 0.76159416, 0.76167537,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76162589,
       0.76171775, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76167168, 0.76159416, 0.76159416, 0.76159416,
       0.76174616, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76184246, 0.76164994, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76172587,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76164623, 0.76159416,
       0.76164597, 0.76159416, 0.76159416, 0.76159416, 0.76163657,
       0.76159416, 0.76159416, 0.76167593, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76164842, 0.76159416, 0.76159416,
       0.76159416, 0.76174071, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416])

In [327]:
movies['title'].unique()

array(["Pirates of the Caribbean: At World's End", 'Spider-Man 3',
       'Harry Potter and the Half-Blood Prince',
       "Pirates of the Caribbean: Dead Man's Chest",
       'The Chronicles of Narnia: Prince Caspian',
       'Pirates of the Caribbean: On Stranger Tides',
       'The Golden Compass', 'King Kong', 'Titanic', 'Spider-Man 2',
       'Transformers: Revenge of the Fallen', 'Cars 2',
       'Terminator Salvation',
       'Indiana Jones and the Kingdom of the Crystal Skull',
       'The Dark Knight', 'Iron Man', 'Wild Wild West',
       'The Mummy: Tomb of the Dragon Emperor', 'The Polar Express',
       'Terminator 3: Rise of the Machines', "The Sorcerer's Apprentice",
       'Shrek the Third', 'Transformers', 'Alexander',
       'Harry Potter and the Goblet of Fire',
       'Charlie and the Chocolate Factory', 'Ratatouille',
       'Batman Begins', 'X-Men Origins: Wolverine',
       'The Matrix Revolutions', 'Mission: Impossible III', 'Armageddon',
       'Men in Black II', 'Beowulf', 'The Last Samurai',
       'Lethal Weapon 4', 'Hulk', 'Final Fantasy: The Spirits Within',
       'Captain America: The First Avenger', 'War of the Worlds',
       'Bad Boys II', 'Harry Potter and the Prisoner of Azkaban',
       "Harry Potter and the Philosopher's Stone",
       'Pirates of the Caribbean: The Curse of the Black Pearl',
       'Total Recall', 'The 13th Warrior', 'Batman & Robin',
       'How the Grinch Stole Christmas', 'The Day After Tomorrow',
       'Mission: Impossible II', 'The Perfect Storm',
       'Fantastic 4: Rise of the Silver Surfer', 'Ghost Rider',
       'The Chronicles of Riddick', 'Speed Racer',
       'Star Wars: Episode III - Revenge of the Sith',
       'Star Wars: Episode II - Attack of the Clones', 'Monsters, Inc.',
       'Asterix at the Olympic Games', 'Night at the Museum',
       'Tomorrow Never Dies', 'The Patriot', "Ocean's Twelve",
       'Mr. & Mrs. Smith', 'The Aviator', 'Speed 2: Cruise Control',
       'Live Free or Die Hard', 'I, Robot', 'Kingdom of Heaven',
       'The Island', 'Gladiator', 'Minority Report', 'Planet of the Apes',
       'Terminator 2: Judgment Day', 'National Treasure', 'Eragon',
       'Blood Diamond', 'Batman Forever', 'Starship Troopers', 'Catwoman',
       'The Mummy Returns', 'The Fifth Element', 'The Lovely Bones',
       'Finding Nemo', 'The Lord of the Rings: The Return of the King',
       'The Lord of the Rings: The Two Towers', 'Lara Croft: Tomb Raider',
       'Jurassic Park III', 'Cutthroat Island', 'What Lies Beneath',
       "Charlie's Angels", 'The Departed', 'Die Hard: With a Vengeance',
       'Valkyrie', 'The Interpreter',
       'Lara Croft Tomb Raider: The Cradle of Life', 'Spy Game',
       'Mission to Mars', "The Devil's Own", 'K-19: The Widowmaker',
       'Cinderella Man', 'Seabiscuit', 'Twister', 'The Bourne Supremacy',
       "Ocean's Eleven", 'Enchanted', 'The Holiday', 'Open Season',
       'Memoirs of a Geisha', 'Mirror Mirror', 'Zodiac',
       'Mission: Impossible', 'Batman Returns', 'Deep Impact',
       "Something's Gotta Give", 'Face/Off', 'Con Air', 'Cold Mountain',
       'Space Jam', 'The Time Machine', 'The Brothers Grimm',
       'Red Planet', 'A Beautiful Mind', 'Hidalgo',
       'The Lost World: Jurassic Park', 'Madagascar',
       'Ice Age: The Meltdown', '50 First Dates', 'Hairspray',
       'Inspector Gadget', 'The Terminal', "Charlie Wilson's War",
       'Dreamgirls', 'Munich', 'Spanglish', 'Hostage', 'Titan A.E.',
       'Carriers', 'The Kingdom', 'Jarhead', 'The Simpsons Movie',
       'Two Brothers', 'The Village', 'Shrek 2', 'Cars', 'Runaway Bride',
       'xXx', 'Hook', 'Die Hard 2', 'Vanilla Sky',
       'Star Trek: Insurrection', 'Big Fish', 'Doom',
       'Sky Captain and the World of Tomorrow', 'Basic Instinct 2',
       'The Sum of All Fears', 'Entrapment', 'The X Files',
       'What Women Want', 'Ice Age', 'The Matrix', 'Apollo 13',
       'World Trade Center', 'Eyes Wide Shut', 'Red Dawn', 'Fight Club',
       'Oliver Twist', 'Sin City: A Dame to Kill For',
       'Perfume: The Story of a Murderer', 'Austin Powers in Goldmember',
       'Jurassic Park', 'U-571', '300', 'The Green Mile',
       'The Bourne Identity', 'GoldenEye', "The General's Daughter",
       'Two Weeks Notice', 'Antz', 'Days of Thunder', 'The Family Man',
       'The Horse Whisperer', 'Deep Blue Sea', 'The Happening', 'Hellboy',
       'Under Siege 2: Dark Territory', 'The Sentinel',
       'Star Trek: Nemesis', 'Mercury Rising',
       'The Legend of Bagger Vance', 'Almost Famous', 'The Last Castle',
       'In the Name of the King: A Dungeon Siege Tale',
       'The Flintstones in Viva Rock Vegas', 'Rambo III', 'DragonHeart',
       "Captain Corelli's Mandolin", 'Forrest Gump',
       'Alvin and the Chipmunks', 'Meet the Parents', 'Superman',
       'American Wedding', 'Casper', 'Maid in Manhattan', 'Crimson Tide',
       'Disclosure', 'Kill Bill: Vol. 1', 'Kill Bill: Vol. 2',
       'Shanghai Noon', 'Executive Decision', 'The Forbidden Kingdom',
       'Ronin', 'Stuck on You', 'Changeling', 'A Very Long Engagement',
       'Lolita', 'The Godfather: Part III', 'You, Me and Dupree',
       "All the King's Men", 'Shaft', 'Moulin Rouge!',
       'Flags of Our Fathers', 'Lucky You', 'Catch Me If You Can',
       'Casino', 'Me, Myself & Irene', 'Shrek',
       'Robin Hood: Prince of Thieves', 'As Good as It Gets', 'Mr. Deeds',
       'Interview with the Vampire', 'Inside Man', 'Payback',
       'Failure to Launch', 'Garfield', 'Outbreak', 'Syriana',
       'Absolute Power', 'The Game', 'Silent Hill',
       'Beverly Hills Cop III', 'Gremlins 2: The New Batch',
       'Out of Time', 'The Beach', 'Hannibal Rising',
       'The Life Aquatic with Steve Zissou', 'Eastern Promises',
       'Traffic', 'Indiana Jones and the Last Crusade', 'The Tooth Fairy',
       'Three Kings', 'K-PAX', 'Bedazzled', 'The Cotton Club',
       'Out of Sight', 'The Thomas Crown Affair', 'Solaris',
       "My Best Friend's Wedding", 'Insomnia', 'Star Trek: First Contact',
       'Liar Liar', 'The Flintstones', 'Miss Congeniality',
       'Training Day', 'Galaxy Quest', 'Scary Movie 2', 'Changing Lanes',
       'Love Actually', 'The Specialist',
       "The Hitchhiker's Guide to the Galaxy", 'The River Wild', 'Dune',
       'Across the Universe', 'Revolutionary Road', '16 Blocks',
       'The Pledge', 'Love in the Time of Cholera', 'Foodfight!',
       'The Fugitive', 'Rambo: First Blood Part II',
       'Underworld: Evolution', 'Finding Forrester', 'Notting Hill',
       'Along Came Polly', 'The Mothman Prophecies', 'Licence to Kill',
       '15 Minutes', 'Hero', '8 Mile', 'The Sixth Sense',
       'The Karate Kid', 'Back to the Future Part II', 'A Time to Kill',
       'Scream 3', 'Back to the Future Part III', 'Dracula',
       'The Talented Mr. Ripley', 'Sin City', 'JFK', 'The Mexican',
       'Shall We Dance?', 'The Prestige', 'The Living Daylights',
       'Secret Window', 'The Lake House', 'Gothika',
       'Aliens vs Predator: Requiem', 'The Shadow', 'Rent',
       'The Out-of-Towners', 'Sweet November', 'The Reaping',
       'Mean Streets', 'Marie Antoinette', 'Memoirs of an Invisible Man',
       'AmÃ©lie', 'Impostor', 'Just Visiting', 'Sunshine',
       'The Hunting Party', 'Because I Said So', 'Star Trek: Generations',
       'Enough', 'The Thing', 'Magnolia', 'Twilight', 'Breakdown',
       'Reindeer Games', 'Gattaca', 'Batman', 'Lethal Weapon 3',
       'Horrible Bosses', 'The Devil Wears Prada',
       'Star Trek: The Motion Picture', 'Cape Fear',
       'The English Patient', 'L.A. Confidential',
       'A Nightmare on Elm Street', 'TMNT', 'Malcolm X', 'This Is 40',
       'License to Wed', 'Poltergeist', 'The Ladykillers', 'In Time',
       'The Pianist', 'The Nativity Story', 'Closer', 'Predator 2',
       'Flash Gordon', 'Midnight in the Garden of Good and Evil',
       'The X Files: I Want to Believe', 'Premium Rush', 'Krull',
       'Lions for Lambs', 'The Shipping News', 'Lion of the Desert',
       'Bandidas', 'The Fountain', 'Chill Factor', "The Astronaut's Wife",
       'A Few Good Men', 'Snakes on a Plane', 'Return of the Jedi',
       'Bridesmaids', 'Alive', 'The Number 23', 'A History of Violence',
       'Bogus', 'Apocalypse Now', "Mr. Holland's Opus", 'Out of Africa',
       'Moonraker', 'Get Shorty', 'American Pie 2',
       'The Hunt for Red October', 'The Addams Family',
       'The First Wives Club', 'Mystic River', 'Million Dollar Baby',
       'About Schmidt', 'Blow', 'Star Trek V: The Final Frontier',
       'A View to a Kill', 'The Curse of the Were-Rabbit', 'Atonement',
       'Black Rain', 'Corpse Bride', 'Stranger Than Fiction',
       'The Running Man', 'My Super Ex-Girlfriend', '88 Minutes',
       'The Whole Ten Yards', 'An Unfinished Life', 'The Good Thief',
       'The Promise', 'Goodbye Bafana', 'Walk the Line',
       'Keeping the Faith', 'Confessions of a Dangerous Mind',
       'Indiana Jones and the Temple of Doom', 'Along Came a Spider',
       'Once Upon a Time in Mexico', 'Die Hard', 'Taking Woodstock',
       'Dawn of the Dead', 'The Wedding Planner', 'Identity', 'Timecop',
       'No Reservations', 'Blade Runner', 'We Own the Night', 'Octopussy',
       'Knocked Up', 'Notes on a Scandal', 'Rendition',
       'Star Trek VI: The Undiscovered Country', 'About a Boy',
       'Lucky Number Slevin', 'The 51st State', 'The 40 Year Old Virgin',
       'Shakespeare in Love', 'Kindergarten Cop', 'Open Range',
       'A Bridge Too Far', 'In Good Company', 'Brothers', 'Original Sin',
       'Highlander: The Final Dimension',
       'The Curse of the Jade Scorpion', 'The Constant Gardener',
       'The Passion of the Christ', 'Mrs. Doubtfire', 'Rain Man',
       'The Bodyguard', "Schindler's List", 'Freddy vs. Jason',
       'Teenage Mutant Ninja Turtles II: The Secret of the Ooze',
       'The Untouchables', 'No Country for Old Men', 'Chocolat',
       'Romeo Must Die', 'Bridge to Terabithia', 'Finding Neverland',
       'Anchorman: The Legend of Ron Burgundy', 'GoodFellas', 'Scarface',
       'The Last Emperor', 'Contraband', 'Kiss of the Dragon',
       'The Hours', "Mr. Bean's Holiday", 'Elizabeth', 'Spice World',
       'The Shawshank Redemption', 'Don Juan DeMarco',
       'The Next Best Thing', 'Big Trouble in Little China', 'Stop-Loss',
       'Blindness', 'Star Trek IV: The Voyage Home', 'Rocky Balboa',
       'Scream 2', 'The Whole Nine Yards', 'Footloose', 'The Fisher King',
       'I Still Know What You Did Last Summer', 'Return to Me',
       'The Empire Strikes Back', 'Pitch Black', 'Jaws: The Revenge',
       'Harley Davidson and the Marlboro Man', '1408', 'Spaceballs',
       'Ghost', "There's Something About Mary",
       'The Bridges of Madison County', 'Gandhi', 'The Net', 'Underworld',
       'Derailed', 'Jay and Silent Bob Strike Back', 'The Glass House',
       'I Heart Huckabees', 'Michael Clayton', 'Arlington Road',
       'Teenage Mutant Ninja Turtles III', 'Freedom Writers',
       'The Transporter', 'eXistenZ', 'Raiders of the Lost Ark',
       'Close Encounters of the Third Kind', 'Beverly Hills Cop II',
       'The Silence of the Lambs', "Wayne's World", 'School of Rock',
       'Edward Scissorhands', 'The French Connection', 'Boogeyman',
       'The Grudge 2', "Bill & Ted's Bogus Journey", 'Babel',
       'Team America: World Police', 'Wild Things', 'High Fidelity',
       'The Bank Job', 'Eternal Sunshine of the Spotless Mind',
       'Street Kings', 'To Die For', 'Psycho', 'Ladyhawke',
       'Reign Over Me', 'Into the Wild', 'From Dusk Till Dawn',
       'The Kite Runner', '21 Grams', 'The Greatest Story Ever Told',
       'The Weather Man', 'Deconstructing Harry', "We're No Angels",
       "Everybody's Fine", 'A Dangerous Method', 'A Scanner Darkly',
       "I'm Not There.", 'Synecdoche, New York', 'Equilibrium',
       'Dances with Wolves', 'Scream', 'The Shining',
       'Back to the Future', 'Spirited Away', 'The Bounty', 'Adaptation.',
       'Fear and Loathing in Las Vegas', 'The Mask', 'Big',
       'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan',
       'Legally Blonde', 'Star Trek III: The Search for Spock',
       'The Exorcism of Emily Rose',
       'Austin Powers: International Man of Mystery', 'Amadeus',
       'Prom Night', 'Gosford Park', 'The Tailor of Panama',
       'Dragonslayer', 'Ed Wood', 'Superbad', 'Hotel Rwanda', 'Hitman',
       'The Others', 'Aliens', 'Halloween', '40 Days and 40 Nights',
       'Roar', 'Southland Tales', 'Damnation Alley',
       'Sense and Sensibility', 'Becoming Jane', 'Dead Poets Society',
       'When Harry Met Sally...', "Pan's Labyrinth", 'Hot Fuzz',
       'Vicky Cristina Barcelona', 'The Thirteenth Floor', 'Highlander',
       'Things We Lost in the Fire', 'Steel', 'Wasabi',
       'Crouching Tiger, Hidden Dragon', 'American Beauty', 'The Queen',
       'Beetlejuice', 'Wag the Dog', 'Cop Land', 'Lawrence of Arabia',
       'The Wedding Date', 'The Princess Bride', '28 Weeks Later',
       'Match Point', 'The Remains of the Day', 'Boogie Nights', 'Brazil',
       'Dark Blue', 'A Mighty Heart', 'Jakob the Liar',
       'Kiss Kiss Bang Bang', 'Idle Hands', 'Mulholland Drive',
       'Metropolis', 'Groundhog Day', 'Romeo + Juliet', 'Manderlay',
       'Pretty Woman', 'Cool Runnings', 'Stomp the Yard',
       'The Spy Who Loved Me', 'The Diving Bell and the Butterfly',
       'Little Children', 'Catch a Fire', 'Downfall', 'The Sea Inside',
       'Good Morning, Vietnam', 'The Godfather: Part II',
       'Dude, Whereâ€™s My Car?', '10 Things I Hate About You',
       'The Butterfly Effect', 'The Mist', 'Being John Malkovich',
       'Letters from Iwo Jima', 'The Astronaut Farmer', '54',
       'Birthday Girl', "Paris, je t'aime", 'True Romance',
       'Lars and the Real Girl', 'Dancer in the Dark', 'American Pie',
       'Star Trek II: The Wrath of Khan',
       'Beavis and Butt-Head Do America', 'Jackie Brown', 'Crank',
       'Girl with a Pearl Earring', 'Das Boot', 'The Host', '2046',
       'Brother', 'A Woman, a Gun and a Noodle Shop', '5 Days of War',
       'Snatch', 'Gremlins', 'Star Wars', 'Doctor Zhivago',
       'Dead Man Walking', 'Barry Lyndon', 'Army of Darkness',
       "What's Eating Gilbert Grape", 'Copying Beethoven',
       '2001: A Space Odyssey', 'Good Will Hunting', 'Saw III',
       'Bring It On', 'Saw IV', 'The Grudge',
       "Bill & Ted's Excellent Adventure", 'The Outsiders', 'Mud',
       'Love Jones', 'Office Space', 'American History X',
       'Run, Fatboy, Run', 'Romeo Is Bleeding', 'Crash',
       'My Blueberry Nights', 'Severance', 'You Only Live Twice',
       'Volver', 'Alien', 'Sicko', 'The Contender', 'Trading Places',
       'The Way of the Gun', 'The Legend of Suriyothai', 'Pulp Fiction',
       'Stand by Me', '28 Days Later', "On Her Majesty's Secret Service",
       'American Psycho', '8 Women', 'Akira', 'Imagine Me & You',
       'Swimming Pool', 'Shopgirl', 'Code 46', 'Persepolis',
       'Harry Brown', 'Diamonds Are Forever', 'The Godfather',
       'Flashdance', 'Live and Let Die', 'Flirting with Disaster',
       "The Devil's Rejects", 'House of 1000 Corpses', 'Veer-Zaara',
       'Gerry', 'Pale Rider', 'Elite Squad', 'Boyz n the Hood',
       'Friends with Money', 'Nowhere in Africa', 'Layer Cake',
       'The Terminator', 'Good bye, Lenin!', 'Grease', 'Fahrenheit 9/11',
       'Mary Poppins', 'Escape from New York',
       'The Last King of Scotland', 'The Greatest', 'Videodrome',
       'The Spanish Apartment', 'The Protector', 'Bend It Like Beckham',
       'The Chorus', 'Mambo Italiano', 'Saw II', 'Jackass: The Movie',
       'Monster', '20,000 Leagues Under the Sea', 'The Elephant Man',
       'Memento', 'Clerks II', 'Billy Elliot', 'Y Tu MamÃ¡ TambiÃ©n',
       'Shaun of the Dead', 'Once Upon a Time in the West',
       'Jekyll and Hyde ... Together Again', 'Heavenly Creatures',
       'The Machinist', 'Party Monster', 'Hostel', 'Dear Frankie',
       'The Blue Lagoon', '25th Hour', 'Donnie Darko',
       'Sympathy for Lady Vengeance', "One Flew Over the Cuckoo's Nest",
       'Whale Rider', 'Night Watch', 'Lost in Translation', 'Annie Hall',
       "Monster's Ball", 'Leaving Las Vegas', 'The Front Page',
       'They Live', 'Scoop', 'The Orphanage', 'The Rules of Attraction',
       'Topaz', 'Four Rooms', 'Thumbsucker', 'The Helpers',
       'The History Boys', 'Midnight Cowboy', 'Airplane!', 'Harper',
       'Frenzy', 'Gods and Monsters', 'Evil Dead II', 'D.E.B.S.',
       'March of the Penguins', 'A Christmas Story', "Rosemary's Baby",
       'Maria Full of Grace', 'Trainspotting', 'Bowling for Columbine',
       'Cat on a Hot Tin Roof', 'Family Plot', 'Torn Curtain',
       "Dave Chappelle's Block Party", 'Red River',
       'Willy Wonka & the Chocolate Factory', 'Basquiat', 'Oldboy',
       'Summer Storm', 'Pocketful of Miracles', 'Some Like It Hot',
       'The Wizard of Oz', 'Young Frankenstein', 'The Dress', 'Maurice',
       'Riding Giants', "Singin' in the Rain",
       'Escape from the Planet of the Apes', 'My Own Private Idaho',
       'Garden State', 'Before Sunrise', 'My Life Without Me', 'Fantasia',
       'Lies in Plain Sight', 'To Kill a Mockingbird',
       'Mad Max 2: The Road Warrior', 'The Lives of Others',
       'The Hustler', 'American Splendor', 'Before Sunset',
       'Amores perros', 'Me and You and Everyone We Know',
       'Ghost Dog: The Way of the Samurai', 'Shortbus', 'Stitches',
       'The Lady from Shanghai', 'A Streetcar Named Desire',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
       'The Crime of Padre Amaro', "Hang 'em High", 'Run Lola Run',
       'Conquest of the Planet of the Apes', 'In the Bedroom',
       'The Conversation', 'Mr. Smith Goes to Washington', 'Spellbound',
       'Killing Zoe', 'The Believer', 'Modern Times', 'My Name Is Bruce',
       'Snow White and the Seven Dwarfs',
       'Lock, Stock and Two Smoking Barrels', 'The Celebration',
       'Rebecca', 'Saw', 'Monsoon Wedding', 'Reservoir Dogs',
       'The Good, the Bad and the Ugly', 'Blue Like Jazz', 'Casablanca',
       'Rocky', 'Taxi Driver', 'Transamerica', 'Shine a Light',
       'Two Girls and a Guy', 'Brigham City', 'Orgazmo',
       'Once in a Lifetime: The Extraordinary Story of the New York Cosmos',
       'The Pet', '4 Months, 3 Weeks and 2 Days', 'Hard Candy',
       "Pandora's Box", 'American Graffiti',
       'Kevin Hart: Laugh at My Pain', 'High Noon', 'Rize',
       "A Hard Day's Night", 'Open Water', 'The Station Agent',
       'Seven Samurai', 'Scott Walker: 30 Century Man', '42nd Street',
       'As It Is in Heaven', 'Dogtown and Z-Boys',
       'Monty Python and the Holy Grail', 'QuinceaÃ±era', 'The Evil Dead',
       '12 Angry Men', 'It Happened One Night', 'Pieces of April',
       'Pierrot le Fou', 'Chasing Amy', 'Cube', 'The Big Parade',
       'A Fistful of Dollars', 'Once', 'Roger & Me', 'Pi', 'Clerks',
       'Pink Flamingos'], dtype=object)

In [328]:
movies[movies.title=='Captain America: The First Avenger']['id'].tolist()

[1771]

In [329]:
movieid_index_mapping[movieid_index_mapping.movieId==1771]['index'].tolist()[0]

448

In [330]:
def give_overview_recommendations(movie_title,sig):
    movie_id=movies[movies.title==movie_title]['id'].tolist()[0]
    index=movieid_index_mapping[movieid_index_mapping.movieId==movie_id]['index'].tolist()[0]
    similarity=sorted(list(enumerate(sig[index])),key=lambda x:x[1],reverse=True)
    recommended_movie_indices=[i[0] for i in similarity]
    recommended_movies=[]
    for i in recommended_movie_indices[1:11
                                      ]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [331]:
give_overview_recommendations('Captain America: The First Avenger',sig)

['Open Range',
 'The Mummy Returns',
 'Hitman',
 'Dead Man Walking',
 'Casper',
 'The Wedding Date',
 'Southland Tales',
 'Open Season',
 'Out of Sight',
 'The Brothers Grimm']

## (2) Content Based Recommendations

In [25]:
movies=movies_copy

In [26]:
movies.head()

,Unnamed: 0,budget,genres,id,overview,popularity,runtime,original_language,title
0,1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,12,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,15,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [27]:
movies=movies.iloc[:,1:]

In [28]:
movies.head()

,budget,genres,id,overview,popularity,runtime,original_language,title
0,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End
1,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3
2,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince
3,200000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest
4,225000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian

In [29]:
import json
movies['genres']=movies['genres'].apply(json.loads)

In [30]:
movies['genres']

0      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
1      [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
2      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
4      [{'id': 12, 'name': 'Adventure'}, {'id': 10751...
                             ...
852    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
853    [{'id': 99, 'name': 'Documentary'}, {'id': 36,...
854    [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
855                       [{'id': 35, 'name': 'Comedy'}]
856    [{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...
Name: genres, Length: 857, dtype: object

In [31]:
def pipe_flatten_names(keywords):
    return '|'.join([x['name'] for x in keywords])
movies['genres'] = movies['genres'].apply(pipe_flatten_names)

In [32]:
movies['genres']

0      Adventure|Fantasy|Action
1      Fantasy|Action|Adventure
2      Adventure|Fantasy|Family
3      Adventure|Fantasy|Action
4      Adventure|Family|Fantasy
                 ...
852         Drama|Music|Romance
853         Documentary|History
854      Mystery|Drama|Thriller
855                      Comedy
856         Horror|Comedy|Crime
Name: genres, Length: 857, dtype: object

In [33]:
cleaned = movies.genres.str.split('|', expand=True).stack()
dummies=pd.get_dummies(cleaned, prefix='g').groupby(level=0).sum()
movies_encoded=movies.merge(dummies,left_index=True, right_index=True)

In [34]:
movies_encoded.head()

,budget,genres,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,...,g_Foreign,g_History,g_Horror,g_Music,g_Mystery,g_Romance,g_Science Fiction,g_Thriller,g_War,g_Western
0,300000000,Adventure|Fantasy|Action,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,...,0,0,0,0,0,0,0,0,0,0
1,258000000,Fantasy|Action|Adventure,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,...,0,0,0,0,0,0,0,0,0,0
2,250000000,Adventure|Fantasy|Family,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,...,0,0,0,0,0,0,0,0,0,0
3,200000000,Adventure|Fantasy|Action,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,...,0,0,0,0,0,0,0,0,0,0
4,225000000,Adventure|Family|Fantasy,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,...,0,0,0,0,0,0,0,0,0,0

In [35]:
movies=movies_encoded.drop('genres',axis=1)

In [36]:
movies_copy10=movies.copy()

In [37]:
movies

,budget,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,...,g_Foreign,g_History,g_Horror,g_Music,g_Mystery,g_Romance,g_Science Fiction,g_Thriller,g_War,g_Western
0,300000000,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,258000000,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,250000000,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,200000000,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,225000000,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,160000,5723,A vacuum repairman moonlights as a street musi...,19.052179,85.0,en,Once,0,0,0,...,0,0,0,1,0,1,0,0,0,0
853,160000,1779,A documentary about the closure of General Mot...,3.284903,91.0,en,Roger & Me,0,0,0,...,0,1,0,0,0,0,0,0,0,0
854,60000,473,The debut film from Darren Aronofsky in which ...,27.788067,84.0,en,Pi,0,0,0,...,0,0,0,0,1,0,0,1,0,0
855,27000,2292,Convenience and video store clerks Dante and R...,19.748658,92.0,en,Clerks,0,0,0,...,0,0,0,0,0,0,0,0,0,0
856,12000,692,Notorious Baltimore criminal and underground f...,4.553644,93.0,en,Pink Flamingos,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
overview_tfidf=overview_matrix

In [39]:
overview_cols=vectorizer.get_feature_names()

In [40]:
from pandas import DataFrame

In [41]:
overview_df=pd.DataFrame(overview_tfidf.toarray(),columns=overview_cols)

In [42]:
movies_with_overview=pd.concat([movies,overview_df],axis=1)

In [43]:
movies_with_overview

,budget,id,overview,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,...,works,world,worse,writer,wrong,year,years,york,young,younger
0,300000000,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1,258000000,559,The seemingly invincible Spider-Man goes up ag...,115.699814,139.0,en,Spider-Man 3,1,1,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,250000000,767,"As Harry begins his sixth year at Hogwarts, he...",98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,...,0.000000,0.0,0.0,0.0,0.0,0.207012,0.0,0.0,0.000000,0.0
3,200000000,58,Captain Jack Sparrow works his way out of a bl...,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,...,0.388641,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
4,225000000,2454,One year after their incredible adventures in ...,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,...,0.000000,0.0,0.0,0.0,0.0,0.184659,0.0,0.0,0.148494,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,160000,5723,A vacuum repairman moonlights as a street musi...,19.052179,85.0,en,Once,0,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
853,160000,1779,A documentary about the closure of General Mot...,3.284903,91.0,en,Roger & Me,0,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
854,60000,473,The debut film from Darren Aronofsky in which ...,27.788067,84.0,en,Pi,0,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
855,27000,2292,Convenience and video store clerks Dante and R...,19.748658,92.0,en,Clerks,0,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
856,12000,692,Notorious Baltimore criminal and underground f...,4.553644,93.0,en,Pink Flamingos,0,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0

In [44]:
movies_with_overview=movies_with_overview.drop('overview',axis=1)

In [45]:
movies_with_overview.columns

Index(['budget', 'id', 'popularity', 'runtime', 'original_language', 'title',
       'g_Action', 'g_Adventure', 'g_Animation', 'g_Comedy',
       ...
       'works', 'world', 'worse', 'writer', 'wrong', 'year', 'years', 'york',
       'young', 'younger'],
      dtype='object', length=1042)

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
user_ratings_nonan=user_ratings.fillna(int(0))

In [48]:
user_ratings_nonan

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,667,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
666,668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
667,669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
668,670,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
669,671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
! pip install --upgrade pandas

Requirement already up-to-date: pandas in c:\users\admin\new folder\lib\site-packages (1.0.5)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\admin\new folder\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\admin\new folder\lib\site-packages (from pandas) (2018.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\admin\new folder\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\admin\new folder\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.13.0)

WARNING: You are using pip version 20.0.1; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\admin\new folder\python.exe -m pip install --upgrade pip' command.

In [50]:
ratings_matrix=user_ratings_nonan.iloc[:,1:].values

In [51]:
ratings_matrix.shape

(670, 857)

In [52]:
movies_with_overview.head()

,budget,id,popularity,runtime,original_language,title,g_Action,g_Adventure,g_Animation,g_Comedy,...,works,world,worse,writer,wrong,year,years,york,young,younger
0,300000000,285,139.082615,169.0,en,Pirates of the Caribbean: At World's End,1,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
1,258000000,559,115.699814,139.0,en,Spider-Man 3,1,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
2,250000000,767,98.885637,153.0,en,Harry Potter and the Half-Blood Prince,0,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.207012,0.0,0.0,0.000000,0.0
3,200000000,58,145.847379,151.0,en,Pirates of the Caribbean: Dead Man's Chest,1,1,0,0,...,0.388641,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
4,225000000,2454,53.978602,150.0,en,The Chronicles of Narnia: Prince Caspian,0,1,0,0,...,0.000000,0.0,0.0,0.0,0.0,0.184659,0.0,0.0,0.148494,0.0

In [53]:
movies_encoded=pd.get_dummies(data=movies_with_overview, columns=['original_language'])

In [54]:
movies_copy50=movies_encoded.copy()

In [55]:
movies_encoded

,budget,id,popularity,runtime,title,g_Action,g_Adventure,g_Animation,g_Comedy,g_Crime,...,original_language_it,original_language_ja,original_language_ko,original_language_nl,original_language_pt,original_language_ro,original_language_ru,original_language_sv,original_language_th,original_language_zh
0,300000000,285,139.082615,169.0,Pirates of the Caribbean: At World's End,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,258000000,559,115.699814,139.0,Spider-Man 3,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,250000000,767,98.885637,153.0,Harry Potter and the Half-Blood Prince,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200000000,58,145.847379,151.0,Pirates of the Caribbean: Dead Man's Chest,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,225000000,2454,53.978602,150.0,The Chronicles of Narnia: Prince Caspian,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,160000,5723,19.052179,85.0,Once,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
853,160000,1779,3.284903,91.0,Roger & Me,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
854,60000,473,27.788067,84.0,Pi,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
855,27000,2292,19.748658,92.0,Clerks,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
856,12000,692,4.553644,93.0,Pink Flamingos,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [56]:
scaler = MinMaxScaler()
movies_matrix=movies_encoded.drop(['title','id'],axis=1)
movies_matrix_scaled=scaler.fit_transform(movies_matrix)

In [57]:
movies_matrix_scaled.shape

(857, 1055)

In [58]:
# movies_matrix=movies_encoded.drop(['title','id'],axis=1)

In [59]:
# movies_matrix_encoded=movies_matrix_scaled.values

In [60]:
movies_matrix_scaled.shape

(857, 1055)

In [61]:
user_preferences=np.dot(ratings_matrix,movies_matrix_scaled)

In [62]:
row_sums = user_preferences.sum(axis=1)
user_preferences = user_preferences / row_sums[:, np.newaxis]

In [75]:
user_preferences.shape

(670, 1055)

In [76]:
weighted_features_matrix=np.dot(user_preferences,movies_matrix_scaled.T)

In [77]:
weighted_features_matrix.shape

(670, 857)

In [78]:
ratings_matrix.shape

(670, 857)

In [79]:
req_matrix=np.where(ratings_matrix==0,weighted_features_matrix,-np.inf)

In [317]:
def give_content_recommendations(user_id,req_matrix):
#     movie_id=movies[user_.title==movie_title]['id'].tolist()[0]
    index=userid_index_mapping[userid_index_mapping.user_id==user_id]['index'].tolist()[0]
#     matrix_req=weighted_features_matrix*tarings_matrix
    movies_rec=sorted(list(enumerate(req_matrix[index])),key=lambda x:x[1],reverse=True)
    recommended_movie_indices=[i[0] for i in movies_rec]
    recommended_movies=[]
    for i in recommended_movie_indices[0:11]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [81]:
userid_index_mapping

     index  user_id
0        0        1
1        1        2
2        2        3
3        3        4
4        4        5
..     ...      ...
665    665      667
666    666      668
667    667      669
668    668      670
669    669      671

[670 rows x 2 columns]

In [82]:
give_overview_recommendations(5,req_matrix)

['Bowling for Columbine',
 'The Glass House',
 'The Mummy Returns',
 'Saw II',
 'Eternal Sunshine of the Spotless Mind',
 'Taxi Driver',
 'Lethal Weapon 4',
 'The 13th Warrior',
 "A Hard Day's Night",
 'Indiana Jones and the Last Crusade',
 'Captain America: The First Avenger']

# Content Based Recommendations are made

# Collaborative Filtering

## (1) Collaborative Filtering

In [83]:
user_ratings

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,667,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
user_ratings_knn=user_ratings.set_index('userId')

In [85]:
user_ratings_knn

,5,11,12,13,14,16,18,19,20,22,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
from sklearn.model_selection import GridSearchCV

In [311]:
user_ratings_no_nan=user_ratings.set_index('userId').fillna(0)
user_ratings_nonan_matrix=user_ratings_no_nan.values
user_ratings_nonan_matrix=np.array(user_ratings_nonan_matrix)

In [312]:
row_sums=np.sum(user_ratings_nonan_matrix,axis=1)
user_ratings_nonan_matrix_normalized=user_ratings_nonan_matrix-row_sums[:,np.newaxis]

In [301]:
# def make_matrices(dimensions):
#     user_embedding=np.random.rand(len(user_ratings_no_nan),dimensions)
#     movie_embedding=np.random.rand(len(user_ratings_no_nan.columns),dimensions)
#     return user_embedding,movie_embedding

In [302]:
# dimensions=3

In [303]:
# user_embedding,movie_embedding=make_matrices(dimensions)

In [304]:
# user_embedding.shape
# movie_embedding.shape

(670, 3)

In [308]:
# for i in range(len(user_ratings_nonan_matrix)):
#     for j in range(len(user_ratings_nonan_matrix[i])):
#         user_ratings_nonan_matrix_normalized[i][j]=int(user_ratings_nonan_matrix_normalized[i][j])

In [297]:
# def check(a):
#     if len(costs)>20:
#         for i in range(len(costs)-1,len(costs)-1-20,-1):
#             if int(a[i])!=int(a[i-1]):
#                 return True
#         return False
#     return True

In [294]:
# def get_embeddings(user_embedding,movie_embedding,user_ratings,dimensions,alpha,beta,steps):
#     movie_embedding=movie_embedding.T
# #     matrix=np.dot(user_embedding,movie_embedding)
# #     user_ratings_nonan=np.where(user_ratings==np.nan,0,user_ratings-matrix)
#     cost=0
# #     steps=100
#     costs=[]
#     for step in range(steps):
#         for i in range(len(user_ratings)):
#             for j in range(len(user_ratings[i])):
#                 if user_ratings[i][j]>0:
#                     costij=user_ratings[i][j]-np.dot(user_embedding[i,:],movie_embedding[:,j])
#                     for k in range(dimensions):
#                         user_embedding[i][k] = user_embedding[i][k] + alpha * (2 * costij * movie_embedding[k][j] - beta * user_embedding[i][k])
#                         movie_embedding[k][j] = movie_embedding[k][j] + alpha * (2 * costij * user_embedding[i][k] - beta * movie_embedding[k][j])
#         cost=0
#         matrix=np.dot(user_embedding,movie_embedding)
#         for i in range(len(user_ratings)):
#             for j in range(len(user_ratings[i])):
#                 if user_ratings[i][j]>0:
#                     cost+=pow(user_ratings[i][j]-np.dot(user_embedding[i,:],movie_embedding[:,j]),2)
#                     for k in range(dimensions):
#                         cost+=(beta/2)*(pow(user_embedding[i][k],2)+pow(movie_embedding[k][j],2))
#         if cost<0.01:
#             break
        
#     return user_embedding,movie_embedding.T,cost

In [281]:
# user_embedding_copy=user_embedding
# movie_embedding_copy=movie_embedding

In [295]:
# user_embedding=user_embedding_copy
# movie_embedding=movie_embedding_copy

In [296]:
# user_embedding,movie_embedding,rmse=get_embeddings(user_embedding,movie_embedding,user_ratings_nonan_matrix,dimensions,alpha=0.0005,beta=0.02,steps=4000)

0 5669.1591678735695
1 5669.051594404126
2 5668.9626366120765
3 5668.875209692672
4 5668.78804072718
5 5668.701450495168
6 5668.615617470005
7 5668.530542191675
8 5668.446149629165
9 5668.362348652611
10 5668.279055816616
11 5668.1962018769755
12 5668.1137315233045
13 5668.031601039357
14 5667.949775731673
15 5667.868227734829
16 5667.7869343037455
17 5667.70587654501
18 5667.625038491101
19 5667.544406431222
20 5667.4639684252215

NameError: name 'a' is not defined

In [335]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(user_ratings_nonan_matrix_normalized, k = 50)
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + row_sums.reshape(-1, 1)
# preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [336]:
#You might like
def give_colab_recommendations(user_id):
#     movie_id=movies[user_.title==movie_title]['id'].tolist()[0]
    index=userid_index_mapping[userid_index_mapping.user_id==user_id]['index'].tolist()[0]
#     matrix_req=weighted_features_matrix*tarings_matrix
    movies_rec=sorted(list(enumerate(all_user_predicted_ratings[index])),key=lambda x:x[1],reverse=True)
    recommended_movie_indices=[i[0] for i in movies_rec]
    recommended_movies=[]
    for i in recommended_movie_indices[0:11]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [337]:
give_colab_recommendations(1)

['American Pie',
 'Barry Lyndon',
 'Reign Over Me',
 'Jay and Silent Bob Strike Back',
 'Jurassic Park',
 'Kiss of the Dragon',
 'Closer',
 'Young Frankenstein',
 'Cold Mountain',
 "Mr. Holland's Opus",
 'Stranger Than Fiction']

# KNN Recommendations

In [338]:
user_ratings.head()

,userId,5,11,12,13,14,16,18,19,20,...,64499,69640,74510,77866,89492,98369,103731,114635,115210,116977
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [339]:
user_ratings_idindexed=user_ratings.set_index('userId')

In [344]:
user_ratings_idindexed.head()
user_ratings_idindexed=user_ratings_idindexed.fillna(0)

In [345]:
movies_ratings=user_ratings_idindexed.T

In [346]:
movies_ratings.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [347]:
from sklearn.neighbors import NearestNeighbors
knn_model=NearestNeighbors(metric='cosine',algorithm='brute')
knn_model.fit(movies_ratings)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [362]:
def nn_recommendations(movie_title):
    movie_id=movies[movies.title==movie_title]['id'].tolist()[0]
    index=movieid_index_mapping[movieid_index_mapping.movieId==movie_id]['index'].tolist()[0]
#     similarity=sorted(list(enumerate(sig[index])),key=lambda x:x[1],reverse=True)
    distances,indices=knn_model.kneighbors(movies_ratings.iloc[index,:].values.reshape(1,-1),n_neighbors=11)
#     print(indices)
    recommended_movies=[]
    for i in indices[0][1:]:
        movie_id_rec=movieid_index_mapping[movieid_index_mapping.index==i]['movieId'].tolist()[0]
        movie_title_rec=movies[movies.id==movie_id_rec]['title'].tolist()[0]
        recommended_movies.append(movie_title_rec)
    return recommended_movies

In [363]:
nn_recommendations('Captain America: The First Avenger')

['The Empire Strikes Back',
 'Open Range',
 'Ladyhawke',
 'Pieces of April',
 'Miss Congeniality',
 'My Blueberry Nights',
 '1408',
 "The Devil's Rejects",
 'What Lies Beneath',
 'Groundhog Day']